<section [id]="Section.constructionWelcome">
  <h1>
    Construction
  </h1>
  <h3>
    This page is still under construction.
  </h3>
</section>


<section [id]="Section.constructionFoundation">
  <h2 class="counter">Foundation</h2>
  <p>
    Depends a lot on the region. In this case we use a 'mono-pour' together with the crawler space walls.
  </p>
</section>



<section [id]="Section.constructionCrawlerSpace">
  <h2 class="counter">Crawler space walls</h2>
  <p>
    Here we use <tag>Insulated Concrete Forms (ICFs)</tag>. These walls are connected to the floor and should be
    insulated. ICFs allows you to build these walls yourself.
  </p>
</section>


<section [id]="Section.constructionGroundFloor">
  <h2 class="counter">Ground floor</h2>
  <p>
    Mass (heavy things) can keep heat. Like a stone wall after sunset would emit heat. It works also the opposite. Like
    churches are nice cool in the summer. Mass balance out the heat in a nice way. A complete wooden house, would not
    have that effect. Therefore some mass is a good thing to have.
    <br><br>
    Hollow-concrete-plate are relatively light and have the mass we look for. They can come with insulation, altho this
    would not be damp-open.
    <!-- <a
      href="https://www.peutz.nl/sites/peutz.nl/files/publicaties/Peutz_publicatie_HBr_TVVLMagazine_03-2007.pdf">https://www.peutz.nl/sites/peutz.nl/files/publicaties/Peutz_publicatie_HBr_TVVLMagazine_03-2007.pdf</a> -->
  </p>
</section>



<section [id]="Section.constructionWallSole">
  <h2 class="counter">Sole beams</h2>
  <p>
    Its never a good idea to build wood straight on concrete.<br>
    Therefore we use:
  </p>
  <ul>
    <li>
      a weather-resistent filt
    </li>
    <li>
      pressured-treated plate (more water resistent),
    </li>
    <li>
      the base plate.
    </li>
  </ul>
</section>

<section [id]="Section.constructionWallJoists">
  <h2 class="counter">I-Joists</h2>
  <p>
    This is the actual structure. These i-joist are engineered.
    So they are straight, and cost less wood to produce.
    The <tag>on-center</tag> distance (EU is often 60cm, US 16inch) is important. Only the first and last stud should
    not follow
    this grid, because otherwise the product on the finish end exactly on center of the stud. This is wrong because it
    the edge of the house, so the material should continue to the end.
    Wood is the material for construction. It is a storage of CO<sub>2</sub>, natural, light and easy to work with.
    Modern products like, <tag>I Joists</tag>, are even stronger than their natual twins. And you don't need to have a
    30cm tree to produce a 30cm beam, so trees can be used more effective. (A disadvantage can be the glue used tho).
    Wood can last forever, think of all the old houses in old cities.
  </p>

  <!-- https://www.posi-joist.se/ -->
  <!-- https://handbok.masonitebeams.se/vad-ska-du-bygga/villa -->
</section>


<section [id]="Section.constructionWallOSB">
  <h2 class="counter">OSB (on the inside)</h2>
  <p>
    Traditional seen, OSB is used for a airtight outside layer. It also helps the whole building to be more solid, it
    can deal with sheer stresses.
    In this build, we will build <tag>damp open</tag> and OSB is a perfect airtight product, but will also block
    moisture. Therefore it is actually great on the inside of the house
  </p>
</section>

<section [id]="Section.constructionWallTape">
  <h2 class="counter">Tape</h2>
  <p>
    OSB and all the other seams are of course not air-tight. Therefore should we tape every seam. This step is harder
    than it sounds, especially around windows. You might not pass your passiv-haus certification due to this
    step.<br><br>
    This steps includes also windows/doors and close all openings for a door-blower test.
  </p>
</section>

<section [id]="Section.constructionFloorLVL">
  <h2 class="counter">Wall-Floor beam</h2>
  <p>
    The top-floor will hang on the inside of the wall. This prevents a <tag>thermal bridge</tag>, in other words, this
    makes it more easy to <tag>air tighten</tag> the house and the insulation continues
  </p>
</section>


<section [id]="Section.constructionFloor">
  <h2 class="counter">Wooden floor</h2>
  <p>
    Joists and osb
  </p>
</section>



<section [id]="Section.constructionRoofRidge">
  <h2 class="counter">Roof ridge</h2>
  <p>
  </p>
</section>

<section [id]="Section.constructionRoofJoist">
  <h2 class="counter">Roof joists</h2>
  <p>
  </p>
</section>


<section [id]="Section.constructionRoofInside">
  <h2 class="counter">Roof Inside</h2>
  <p>
    The roof need sturdiness. So we use OSB here as well as the inner layer. All seams can be taped directly
  </p>
</section>

<section [id]="Section.constructionWallInsulation">
  <h2 class="counter">Insulation</h2>
  <p>
    Very important step. Keep it all dry. It feels like glass-insulation is best best of both worlds. It's often
    recycled
    glass and has a relative small footprint to the more eco-friendly alternatives. Stay away from wool for example. It
    is also very affordable, so we can focus our money on more expensive windows
  </p>
</section>

<section [id]="Section.constructionWallOuterSheet">
  <h2 class="counter">Damp open outer sheets</h2>
  <p>
    Here are multiple options. We don't like to use plastics here. A great option is <tag>fiberboard's</tag>, they are
    damp open, some what water resistant. This is an environment friendly product.
    It can be out in the rain for 4 weeks, while building.
  </p>
</section>

<section [id]="Section.constructionRoofSpace">
  <h2 class="counter">Roof Woodwork</h2>
  <p>
    grid of wood
  </p>
</section>

<section [id]="Section.constructionRoofTiles">
  <h2 class="counter">Roof tiles</h2>
  <p>
    Tiles.
  </p>
</section>





<section [id]="Section.constructionWallSpace">
  <h2 class="counter">Cavity (vent space)</h2>
  <p>
    This step depends a lot on the outer finish. In this example we use vertical wooden planks. Therfore we need first
    vertical strips (the construction is vertical, and water needs to run down). On top of these strips are horizontal
    strips so we can add vertical facade planks
  </p>
</section>


<section [id]="Section.constructionWallFacade">
  <h2 class="counter">Outer wall</h2>
  <p>
    In this example we use wooden planks. Traditionally seen, it was impossible to make big planks. So in the early days
    the alternate with big planks and smaller strips.
  </p>
</section>


<section [id]="Section.constructionWallService">
  <h2 class="counter">Service wall</h2>
  <p>
    To prevent puncture in our air-tight OSB layer. There will be a service layer that contains all electric, water and
    such.
    It comes with extra insulation. This makes (small) renovations possible in the future.
  </p>
</section>

<section [id]="Section.constructionWallGips">
  <h2 class="counter">Gips / Drywall / wood-finish</h2>
  <p>
    The inside wall will be either covered by gypsum/drywall. We also very like the idea of lower <a
      href="https://en.wikipedia.org/wiki/Panelling">paneling</a>
  </p>
</section>


<!-- <section [id]="Section.constructionRoofInside">
  <h2 class="counter">Roof osb? / sheets</h2>
  <p>
    constructionRoofJoist = "construction-roof-joist",
    constructionRoofInside = "construction-roof-inside",
    constructionRoofOuterSheet = "construction-roof-outerSheet",
    constructionRoofSpace = "construction-roof-space",
    constructionRoofTiles = "construction-roof-tiles",
  </p>
</section> -->




<h2>The water problem</h2>

<p>
  Warm air can contain more water, so the inside air normally would go through the wall and cools down. To a point
  that
  it cannot hold longer that amount of water, so it condense in the middle of the wall.
  <br><br>

  Traditional building takes that problem with plastic wraps. One on the outside to keep weather out. And a even more
  water-closed layer in the inside. Water moves out the construction. It is important during the building fase, to
  keep
  everything relatively dry.
  <br><br>
  The alternative is: <tag>damp Open</tag>. where no wraps are needed. The inner layer of the house has a water-closed
  natural layer (OSB sheets). The outside layer is 'damp-open' so it would not absorb rainwater, but the moist air
  from inside can escape. It is more like a Dutch slogan: not fighting the water, but living with (some) water.



  <br><br>
  We try to look what is the best insulation out there. We think wood-fiber is the best most sustainable in therms of
  production/insulation values. Stone/glass fibers are a little bit less on the production level, but a bit more
  durable over time.

  <br><br>
  <tag [tag]="Tag.woodFiberPlate">Wood fiber panels</tag>
  are treated with bitumen, there are light, water-resistant and still insulating. They are a perfect layer for the
  outside layer of the construction (not final outer layer).

  <br><br>
  On the inside of the OSB is an extra 2cm layer and finises of with wood or drywall(gips plates). This layer is
  practical, because all the switches and wall socket cannot interfere with the air-tight-layer. With a <tag
    [tag]="Tag.pipeLayer">
    pipeLayer</tag> is it:
</p>
<ol>
  <li>Easier to build keep it <tag [tag]="Tag.airTight">air tight</tag>
  </li>
  <li>Deal with sockets in a later stage</li>
  <li>Modifications</li>
</ol>

<section [id]="Section.constructionWallFinish">
  <h2>
    Walls outer finish
  </h2>
  <p>
    Wooden house, has wood on the outside. Not completely tru. Wood is a sustainable choice (altho we wonder, painting
    it every 10 years...), but in theory can we have anything on the outside. Keep in mind if you build<tag>damp-open
    </tag> that the finish-layer should also be damp-open. Bricks are for example. The cement is definitely not
    sustainable, but there is no maintenance in the coming 100-ish years.
    <!-- <br><br>
    In lövlund did we pick for brick-strips. The reason is, its thinner/lighter and we aren't skilled in bricklaying. We
    can glue strips on a wall. It is for now unclear how we can attach the strips. Cement fiber plates? -->
  </p>
</section>




<section [id]="Section.constructionParameters">
  <ng-container *ngIf="(house$|async) as house">

    <table mat-table [dataSource]="house.construction.heatCalcs" class="mat-elevation-z0">
      <ng-container [matColumnDef]="col['id']" *ngFor="let col of columns">
        <th mat-header-cell *matHeaderCellDef> {{col['name']}} </th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row[col['id']]" [innerHTML]="col['def']( row[col['id']], row['unit'] )"></span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
      <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>

    </table>

    <h3>The numbers that matter:</h3>
    <p gdColumns=" 1fr 1fr" gdGap="8px">
      <span>r<sub>construction</sub> </span><span> {{house.construction.rConstruction}}</span>
      <span>U </span><span> {{house.construction.U}}</span>
      <span>Wall thickness </span><span> {{house.construction.outerWallThickness}}m</span>
    </p>

    <label>
      <span>I joist thickness (and main insulation) {{house.construction.thickness[Thicknesses.joists]}} mm
      </span>

      <mat-slider min="0" [max]="joists.length-1" step="1" [ngModel]="currentJoist()"
        (input)="updateJoist($event.value) " tickInterval="1">
      </mat-slider>

    </label>
    <label>
      <span>Celit thickness ({{house.construction.thickness[Thicknesses.outerSheet]}}mm )
      </span>

      <mat-slider min="0" max="150" step="10" [ngModel]="house.construction.thickness[Thicknesses.outerSheet]"
        (input)="updateOuterSheet(round($event.value, 4)) " tickInterval="1">
      </mat-slider>
    </label>

  </ng-container>
</section>
<disqus identifier="PassiveOpen-Construction"></disqus>

<!-- https://wood-tube.com/sv/reglar/ -->