<h1>
  Construction
</h1>

<section [id]="Section.contructionFoundation">
  <h2>
    Foundation
  </h2>
  <ol>
    <li>Stroke</li>
    <li>Poles</li>
    <li>Slab (not for crawler spaces)</li>
    <li>Slab + basement</li>

  </ol>
  <p>
    Poles

    Stroke
  </p>
</section>

<section [id]="Section.contructionCrawlerSpace">
  <h2>
    Crawler space
  </h2>
  <p>
    A crawler space is a space under the ground floor. It highers the ground floor, so a handyman can go under. And
    change pipes and such after the house is build. Kitchen on the otherside of the house? Or even only the sink?
    Crawlerspaces helps a lot.<br><br>
    It helps too keep your wooden floors dry incase of a flooding or heavy rains. (to some limit ofcourse).
  </p>
</section>

<section [id]="Section.contructionWall">
  <h2>
    Walls & Roof
  </h2>
  <p>
    Wood is the material for construction. It is a storage of CO<sub>2</sub>, natural, light and easy to work with.
    Modern products like, <tag>I Joists</tag>, are even stronger than their natual twins. And you don't need to have a
    30cm tree to produce a 30cm beam, so trees can be used more effective. (A disadvantage can be the glue used tho).
    Wood can last forever, think of all the old houses in old cities.<br><br>

  </p>
  <h2>The water problem</h2>

  <p>
    Warm air can contain more water, so the inside air normally would go through the wall and cools down. To a point
    that
    it cannot hold longer that amount of water, so it condens in the middle of the wall.
    <br><br>

    Traditonal building takes that problem with plastic wraps. One on the outside to keep weather out. And a even more
    water-closed layer in the inside. Water moves out the contsturction. It is important during the building fase, to
    keep
    everything relatively dry.
    <br><br>
    The alternative is: <tag>damp Open</tag>. where no wraps are needed. The innerlayer of the house has a water-closed
    natural layer (OSB sheets). The outside layer is 'damp-open' so it would not absorble rainwater, but the moist air
    from inside can escape. It is more like a Dutch slogan: not fighting the water, but living with (some) water.



    <br><br>
    We try to look what is the best insulation out there. We think wood-fiber is the best most sustainable in therms of
    production/insulation values. Stone/glass fibers are a little bit less on the production level, but a bit more
    durable over time.

    <br><br>
    <tag [tag]="Tag.woodFiberPlate">Wood fiber panels</tag>
    are treated with bitume, there are light, water-resistand and still insulating. They are a perfect layer for the
    outside layer of the construction (not final outer layer).

    <br><br>
    On the inside of the OSB is an extra 2cm layer and finised of with wood or drywall(gipsplates). This layer is
    pratical, because all the switches and wallsocket cannot interfair with the air-tight-layer. With a <tag
      [tag]="Tag.pipeLayer">
      pipeLayer</tag> is it:
  </p>
  <ol>
    <li>Easier to buid keep it <tag [tag]="Tag.airTight">air tight</tag>
    </li>
    <li>Deal with sockets in a later stage</li>
    <li>Modifications</li>
  </ol>
</section>

<section [id]="Section.contructionWallFinish">
  <h2>
    Walls outerfinish
  </h2>
  <p>
    Wooden house, has wood on the outside. Not completely tru. Wood is a sustainable choice (altho we wonder, painting
    it every 10 years...), but in theory can we have anything on the outside. Keep in mind if you build<tag>damp-open
    </tag> that the finish-layer should also be damp-open. Bricks are for example. The cement is defentily not
    sustainable, but there is no maintaince in the comming 100-ish years.
    <br><br>
    In lövlund did we pick for brick-strips. The reason is, its thinner/lighter and we aren't skilled in bricklaying. We
    can glue strips on a wall. It is for now unclear how we can attach the strips. Cement fiber plates?
  </p>
</section>

<section [id]="Section.contructionFloor">
  <h2>
    Floor
  </h2>
  <p>
    Mass (heavy things) can keep heat. Like a stone wall after sunset would emit heat. It works also the oppostite. Like
    churches are nice cool in the summer. Mass balance out the heat in a nice way. A complete wooden house, would not
    have that effect. Therefore some mass is a good thing to have.
    <br><br>
    A holow-concrate-plate are relatively light and have the mass we look for. They can come with insulation, altho this
    would not be damp-open.
  </p>
</section>

<section [id]="Section.contructionRoof">
  <h2>
    The roof
  </h2>
  <p>
    The roof looks a lot like a wall, maybe a bit thinker. The inside does not need a OSB layer ???ToDo???
    <br><br>
    The outside layer is ofcourse no bricks, but rooftiles (sometimes architects mixed them up...).
  </p>
</section>