<section [id]="Section.constructionWelcome">
  <h1>
    Construction
  </h1>
  <h3>
    This page is still under construction.
  </h3>

</section>

<section [id]="Section.constructionParameters">
  <ng-container *ngIf="(house$|async) as house">

    <table mat-table [dataSource]="house.construction.heatCalcs" class="mat-elevation-z0">
      <ng-container [matColumnDef]="col['id']" *ngFor="let col of columns">
        <th mat-header-cell *matHeaderCellDef> {{col['name']}} </th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row[col['id']]" [innerHTML]="col['def']( row[col['id']], row['unit'] )"></span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
      <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>

    </table>

    <h3>The numbers that matter:</h3>
    <p gdColumns=" 1fr 1fr" gdGap="8px">
      <span>r<sub>construction</sub> </span><span> {{house.construction.rConstruction}}</span>
      <span>U </span><span> {{house.construction.U}}</span>
      <span>Wall thickness </span><span> {{house.construction.outerWallThickness}}m</span>
    </p>

    <label>
      <span>I joist thickness (and main insulation) {{house.construction.thicknessJoist}} mm
      </span>

      <mat-slider min="0" [max]="joists.length-1" step="1" [ngModel]="currentJoist(house.construction.thicknessJoist)"
        (input)="updateJoist($event.value) " tickInterval="1">
      </mat-slider>

    </label>
    <label>
      <span>Celit thickness ({{house.construction.thicknessCelit}}mm )
      </span>

      <mat-slider min="0" max="150" step="10" [ngModel]="house.construction.thicknessCelit"
        (input)="update('construction', 'thicknessCelit', round($event.value, 4)) " tickInterval="1">
      </mat-slider>
    </label>

  </ng-container>
</section>

<section [id]="Section.constructionFoundation">
  <h2>
    Foundation
  </h2>
  <ol>
    <li>Stroke</li>
    <li>Poles</li>
    <li>Slab (not for crawler spaces)</li>
    <li>Slab + basement</li>

  </ol>
  <p>
    Poles

    Stroke
  </p>
</section>

<section [id]="Section.constructionCrawlerSpace">
  <h2>
    Crawler space
  </h2>
  <p>
    A crawler space is a space under the ground floor. It highers the ground floor, so a handyman can go under. And
    change pipes and such after the house is build. Kitchen on the other side of the house? Or even only the sink?
    Crawler spaces helps a lot.<br><br>
    It helps too keep your wooden floors dry incase of a flooding or heavy rains. (to some limit of course).
  </p>
</section>

<section [id]="Section.constructionWall">
  <h2>
    Walls & Roof
  </h2>
  <p>
    Wood is the material for construction. It is a storage of CO<sub>2</sub>, natural, light and easy to work with.
    Modern products like, <tag>I Joists</tag>, are even stronger than their natual twins. And you don't need to have a
    30cm tree to produce a 30cm beam, so trees can be used more effective. (A disadvantage can be the glue used tho).
    Wood can last forever, think of all the old houses in old cities.<br><br>

  </p>
  <h2>The water problem</h2>

  <p>
    Warm air can contain more water, so the inside air normally would go through the wall and cools down. To a point
    that
    it cannot hold longer that amount of water, so it condense in the middle of the wall.
    <br><br>

    Traditional building takes that problem with plastic wraps. One on the outside to keep weather out. And a even more
    water-closed layer in the inside. Water moves out the construction. It is important during the building fase, to
    keep
    everything relatively dry.
    <br><br>
    The alternative is: <tag>damp Open</tag>. where no wraps are needed. The inner layer of the house has a water-closed
    natural layer (OSB sheets). The outside layer is 'damp-open' so it would not absorb rainwater, but the moist air
    from inside can escape. It is more like a Dutch slogan: not fighting the water, but living with (some) water.



    <br><br>
    We try to look what is the best insulation out there. We think wood-fiber is the best most sustainable in therms of
    production/insulation values. Stone/glass fibers are a little bit less on the production level, but a bit more
    durable over time.

    <br><br>
    <tag [tag]="Tag.woodFiberPlate">Wood fiber panels</tag>
    are treated with bitumen, there are light, water-resistant and still insulating. They are a perfect layer for the
    outside layer of the construction (not final outer layer).

    <br><br>
    On the inside of the OSB is an extra 2cm layer and finises of with wood or drywall(gips plates). This layer is
    practical, because all the switches and wall socket cannot interfere with the air-tight-layer. With a <tag
      [tag]="Tag.pipeLayer">
      pipeLayer</tag> is it:
  </p>
  <ol>
    <li>Easier to build keep it <tag [tag]="Tag.airTight">air tight</tag>
    </li>
    <li>Deal with sockets in a later stage</li>
    <li>Modifications</li>
  </ol>
</section>

<section [id]="Section.constructionWallFinish">
  <h2>
    Walls outer finish
  </h2>
  <p>
    Wooden house, has wood on the outside. Not completely tru. Wood is a sustainable choice (altho we wonder, painting
    it every 10 years...), but in theory can we have anything on the outside. Keep in mind if you build<tag>damp-open
    </tag> that the finish-layer should also be damp-open. Bricks are for example. The cement is definitely not
    sustainable, but there is no maintenance in the coming 100-ish years.
    <!-- <br><br>
    In lövlund did we pick for brick-strips. The reason is, its thinner/lighter and we aren't skilled in bricklaying. We
    can glue strips on a wall. It is for now unclear how we can attach the strips. Cement fiber plates? -->
  </p>
</section>

<section [id]="Section.constructionFloor">
  <h2>
    Floor
  </h2>
  <p>
    Mass (heavy things) can keep heat. Like a stone wall after sunset would emit heat. It works also the opposite. Like
    churches are nice cool in the summer. Mass balance out the heat in a nice way. A complete wooden house, would not
    have that effect. Therefore some mass is a good thing to have.
    <br><br>
    Hollow-concrete-plate are relatively light and have the mass we look for. They can come with insulation, altho this
    would not be damp-open.
  </p>
</section>

<section [id]="Section.constructionRoof">
  <h2>
    The roof
  </h2>
  <p>
    The roof looks a lot like a wall, maybe a bit thinker. The inside does not need a OSB layer ???ToDo???
    <br><br>
    The outside layer is of course no bricks, but roof tiles (sometimes architects mixed them up...).
  </p>
</section>


<disqus identifier="PassiveOpen-Construction"></disqus>