<svg xmlns="http://www.w3.org/2000/svg" #svg class="{{graphic}}" preserveAspectRatio="xMidYMid meet">
  <!-- <style type="text/css">
    .g-room {
      fill: url(#MyGradient)
    }
  </style> -->
  <defs>
    <linearGradient id="MyGradient" gradientTransform="rotate(90)">
      <stop class="alt-stop" offset="-10%" />
      <stop class="alt-stop" offset="30%" />
      <stop class="main-stop" offset="100%" />
    </linearGradient>
    <filter id="inset-shadow">
      <feGaussianBlur stdDeviation="0.5" result="offset-blur" />
      <feComposite operator="out" in="SourceGraphic" in2="offset-blur" result="inverse" />
      <feFlood flood-color="black" flood-opacity="1" result="color" />
      <feComposite operator="in" in="color" in2="inverse" result="shadow" />
      <feComponentTransfer in="shadow" result="shadow">
        <feFuncA type="linear" slope=".175" />
      </feComponentTransfer>
    </filter>
  </defs>
  <g class="all" transform="rotate(0)">
    <g class="icons" style="display: none;">
      <g id="icon-{{SensorType}}" *ngFor="let SensorType of SensorTypes; let i = index">
      </g>
    </g>

    <g class="house-grid-line">
      <polyline [id]="key" *ngFor="let key of selectors[HousePart.gridLines]"></polyline>
    </g>

    <g class="house-wind-rose">
      <polygon class="house-wind-rose-1"></polygon>
      <polygon class="house-wind-rose-2"></polygon>
      <text class="house-wind-rose-text"></text>
    </g>

    <g class="g-room">
      <g [id]="key" *ngFor="let key of selectors[HousePart.rooms]"></g>
    </g>

    <g class="svg-plan-stair-plan included-stairs-plan">
      <svg class="plan-stair-plan"></svg>
    </g>

    <g class="g-wall">
      <g [id]="key" *ngFor="let key of selectors[HousePart.walls]">
        <polyline class="wall-left"></polyline>
        <polyline class="wall-right"></polyline>
        <polygon class="wall-fill"></polygon>
        <circle class="wall-origin"></circle>
      </g>
    </g>

    <g class="g-door">
      <g [id]="key" *ngFor="let key of selectors[HousePart.doors]">
        <polygon class="door-wall-opening"></polygon>
        <path class="door-swing"></path>
      </g>
    </g>

    <g class="g-window">
      <g [id]="key" *ngFor="let key of selectors[HousePart.windows]">
        <polygon class="window-wall-opening"></polygon>
        <path class="window-pane"></path>
      </g>
    </g>

    <g class="extra">
      <g [id]="key" *ngFor="let key of selectors[HousePart.other]">
      </g>
    </g>
    <g class="g-studs">
      <g [id]="key" *ngFor="let key of selectors[HousePart.studs]">
      </g>
    </g>


    <g class="house-measure">
      <g class="measure" [id]="key" *ngFor="let key of selectors[HousePart.measures]"> </g>
    </g>


    <!-- <g class="g-sensor">
      <polyline *ngFor="let key of sensorKeys" id="{{key}}" class="sensor-cable"></polyline>
      <g id="{{key}}" *ngFor="let key of sensorKeys" class="sensor-g">
        <use id="{{key}}" class="sensor-icon" />
      </g>

    </g>-->

    <g class="g-example">
      <g class="example-g" [id]="key" *ngFor="let key of selectors[HousePart.example]"> </g>

    </g>

    <image class="render-img"></image>

    <g class="g-sun"></g>

    <g id="g-distance"></g>


  </g>

</svg>