<svg #svg class="stairs-plan" preserveAspectRatio="xMidYMid meet">
  <defs>
    <polygon id="clip-roof-ref"></polygon>
  </defs>
  <clipPath id="clip-roof">
    <use xlink:href="#clip-roof-ref" overflow="visible"></use>
  </clipPath>

  <g *ngIf="(house$ | async) as house">
    <g class="g-walk-line">
      <path class="walk-line"></path>
      <circle id="walk-line-dot walk-line-{{i}}" *ngFor="let item of [].constructor(25); let i = index;"> </circle>
    </g>
    <polygon id="outline" class="outline"></polygon>
    <!-- <polyline class="middleLine"></polyline>
    <polyline class="left-corner-line"></polyline>
    <polyline class="right-corner-line"></polyline> -->

    <!-- <g class="g-step-plan"> -->
    <g class="g-step-plan" clip-path="url(#clip-roof)">
      <g id="step-plan-{{i}}" *ngFor="let item of [].constructor(25); let i = index;">
        <polygon class="step-plan-lines"></polygon>
        <polyline class="step-plan-rise"></polyline>
        <text class="step-plan-text"></text>
      </g>
      <!-- <circle class="step-stinger step-stinger-{{i}}" *ngFor="let item of [].constructor(25); let i = index;"> </circle> -->
    </g>

    <g class="measure-stair" *ngIf="!isChild">

      <g id="plateau-width"></g>
      <g id="mid-width"></g>
      <g id="total-width"></g>
      <g id="total-height"></g>
      <g id="lesser-height"></g>
    </g>
  </g>
</svg>