<section [id]="Section.facadeStart">
  <h1>Facade</h1>
  <p class="mat-caption">
    We cover here all the basics about the outside of the house. Windows, doors, domers and bricks.
  </p>
</section>

<section [id]="Section.facadeWindow">
  <h1>Window</h1>
  <p>
    Windows are a tradeoff between a nice open light house and: heatloss, heatgain, complexer builds and more
    exepensive.
    In a passiv house, belongs high end windows, triple glass and high-end framing. That makes it one of the most costly
    invenstments.
  </p>
  <label class="technical" style="max-width: 640px;">
    <span>Design</span>
    <span>
      Dutch traditional windows have some variations.
      <br>
      <br>
      The right one is is nicely detailed. Look how the windowframe
      ends in a litte stone, to keep it dry and prevent rotting. However the windowframe is missing at the bottom, the
      window rest on the stone. Not our modern standards.
      <br>
      <br>
      The major difference between them is that the left one has a frame at the bottom. That is better insulated, and we
      do need to use less pressious stone.
    </span>
    <div fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="center center" style="padding: 16px 0 24px;">
      <img src="/assets/img/window_1.jpg" style="max-height:360px" />
      <img src="/assets/img/window_2.jpg" style="max-height:360px" />
    </div>
    <span>
      Furthermore both window-bottom-stones go into the brickwork. If you don't do this, you would create a channel for
      rainwater (wind blows it in the corner). And the dirt will collect on your walls. Now it would drip off.
    </span>
  </label>

  <p>
    Place the window in the middle of insulation
    <img src="https://ars.els-cdn.com/content/image/1-s2.0-S0378778816316383-gr9.jpg" />
  </p>
</section>
<section [id]="Section.facadeDoor">
  <h1>Doors</h1>
  <p>
    For guests the first warm welcome
  </p>
  <label class="technical" style="max-width: 640px;">
    <span>Design</span>
    <span>They kinda look like windows. Ofcourse the bottomframe is missing here. The bottom frame should be wheelchair friendly, altho its a bit contradictive with a eleveated ground floor (due to crawler space). The door and frame should be extreme insulated.
    </span>
    <div fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="center center" style="padding: 16px 0 24px;">
      <img src="/assets/img/door_step_1.jpg" style="max-height:360px" />
    </div>
  </label>
</section>