<mat-action-list fxLayout="column" fxLayoutAlign="start start" fxFlex="1 1">

  <button mat-list-item color="accent" (click)="whatIsHere()">
    <span fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon>question_mark</mat-icon>
      <div>What is here?</div>
    </span>
  </button>

  <button mat-list-item color="accent" (click)="measure()">
    <span fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon>square_foot</mat-icon>
      <div>Start measure</div>
    </span>
  </button>

</mat-action-list>