<section [id]="Section.wiredWelcome">
  <h1>Smart home</h1>
  <p>
    In addition to being a regular home, this house is also a smart home that employs a lot of domotics. This involves
    the use of many sensors and lights that can be controlled remotely. Wired -cloudless- connections are typically more
    reliable and affordable than wireless options such as Wi-Fi, which means that the setup may differ from what you're
    familiar with.
  </p>
</section>



<section [id]="Section.wiredPower">
  <h2>
    Electricity
  </h2>

  <h3>
    <app-svg class="sensor-{{SensorType.socket}}" url="assets/svg/{{SensorType.socket}}.svg">
    </app-svg>
    <span>Normal - 230v</span>
  </h3>
  <p>
    In Europe (230v), sockets usually share a breaker or a group that is rated at either 16 or 10 amperes. The rating
    depends on the load and wire thickness, which is 2.5mm2 and 1.5mm2, respectively.
  </p>

  <label class="technical">
    <span>Technical </span>
    Amount: {{getOutlets(SensorType.socket)}} sockets<br>
    Group numbers: [ {{getGroups(SensorType.socket)}} ]<br>
    Total cable length: {{getCable(SensorType.socket)}}m<br>
  </label>

  <h3>
    <app-svg class="sensor-{{SensorType.perilex}}" url="assets/svg/{{SensorType.perilex}}.svg">
    </app-svg>
    <span>3Phase - 400v</span>
  </h3>
  <p>
    The unusual symbol you're seeing is a <tag>perilex</tag> plug, which typically contains three phases, though some
    models may only have two. The main objective of this plug is to distribute the load over three wires, rather than
    one, which requires the use of more wires. This type of plug is commonly used for high-power appliances such as
    induction cookers in the kitchen. Electric cars do not utilize this plug, but they do require three-phase power in
    most cases.
  </p>

  <label class=" technical">
    <span>Technical </span>
    Amount: {{getOutlets(SensorType.perilex)}} socket<br>
    Total cable length: {{getCable(SensorType.perilex)}}m<br>
    Group numbers: [ {{getGroups(SensorType.perilex)}} ]<br>
  </label>

</section>

<section [id]="Section.wiredLight">
  <h2>
    lightning
  </h2>

  <h3>
    <app-svg class="sensor-{{SensorType.lightBulb}}" url="assets/svg/{{SensorType.lightBulb}}.svg"></app-svg>
    <span>Lamps</span>
  </h3>
  <p>
    Lamp outlets are available in both 230V and 24V variants. Typically, most lamps can be dimmed, and their wiring runs
    back to the server room.
    They are controlled by a <tag>hub</tag> that is connected to the home automation system.
  </p>

  <h3>
    <app-svg class="sensor-{{SensorType.lightSwitch}}" url="assets/svg/{{SensorType.lightSwitch}}.svg"></app-svg>
    <span>Double switch </span>
  </h3>
  <p>
    The double pulse switches have six different options available. You can program actions for two single presses, two
    double presses, and two long presses. The switches operate at 24V, and their wiring runs back to the <tag>hub</tag>
    .
  </p>

  <h3>
    <app-svg class="sensor-{{SensorType.dimmer}}" url="assets/svg/{{SensorType.dimmer}}.svg"></app-svg>
    <span>Dimmer</span>
  </h3>
  <p>

    The dimmer switch enables you to adjust the brightness of the room's lighting. However, the smart-home system should
    automatically select the appropriate dimming level based on the time of day, see <a
      href="https://community.home-assistant.io/t/circadian-lighting-custom-component/61246">circadian lightning.</a>.
    You can override this automation by using the dimmer switch.
  </p>

  <h3>
    <app-svg class="sensor-{{SensorType.dlc}}" url="assets/svg/{{SensorType.dlc}}.svg"></app-svg>
    <span>DLC, or light-socket</span>
  </h3>
  <p>
    To outsiders, it may seem strange, but each fixed light in the house has its own separate mini-socket. In Sweden, an
    old standard was in use, but since 2019, they have followed the EU standard of DLC.
  </p>

</section>

<section [id]="Section.wiredEthernet">
  <h2>
    Network / Ethernet
  </h2>


  <h3>
    <app-svg class="sensor-{{SensorType.ethernet}}" url="assets/svg/{{SensorType.ethernet}}.svg"></app-svg>
    <span>Ethernet (rj45)</span>
  </h3>
  <p>
    Reliable internet is essential when working from home, and the best option is to have a wall outlet for a regular
    internet cable. These outlets are not limited to computers and can be used for other devices like speakers,
    televisions, and more.
  </p>
  <label class=" technical">
    <span>Technical </span>
    Amount: {{getOutlets(SensorType.ethernet)}}<br>
    Total cable length: {{getCable(SensorType.ethernet, 0)}}m<br>
  </label>


  <h3>
    <app-svg class="sensor-{{SensorType.poe}}" url="assets/svg/{{SensorType.poe}}.svg"></app-svg>
    <span>Power-over-Ethernet </span>
  </h3>
  <p>With a voltage of 48 volts, internet cables can be used to power certain devices without requiring additional
    wiring. This capability makes them a convenient option for devices like ring doorbells, security cameras, and Wi-Fi
    access points.
  </p>

  <h3>
    <app-svg class="sensor-{{SensorType.wifi}}" url="assets/svg/{{SensorType.wifi}}.svg"></app-svg>
    <span>Wifi</span>
  </h3>
  <p>Needs no introduction. Know that you can have more complex wifi solutions than your internet provider can provide.
  </p>
  <label class=" technical">
    <span>Technical </span>
    Amount: {{getOutlets(SensorType.wifi)}} Access points<br>
  </label>



</section>


<section [id]="Section.wiredSafety">
  <h2>
    Safety
  </h2>
  <h3>
    <app-svg class="sensor-{{SensorType.smoke}}" url="assets/svg/{{SensorType.smoke}}.svg"></app-svg>
    <span>Smoke/heat detectors</span>
  </h3>
  <p>For safety purposes, it is advisable to install several smoke sensors throughout the house, along with a heat
    sensor specifically in the kitchen.
  </p>
  <label class=" technical">
    <span>Technical </span>
    Amount: {{getOutlets(SensorType.smoke)}}<br>
    Total cable length: {{getCable(SensorType.smoke, 0)}}m<br>
  </label>


  <h3>
    <app-svg class="sensor-{{SensorType.camera}}" url="assets/svg/{{SensorType.camera}}.svg"></app-svg>
    <span>Camera's</span>
  </h3>
  <p>
    While not necessary, installing a security monitoring system in your home can offer added convenience and security.
    With your own VPN, you can remotely monitor your house from anywhere.
  </p>
  <label class=" technical">
    <span>Technical </span>
    Amount: {{getOutlets(SensorType.camera)}} PoE<br>
  </label>




  <h3>
    <app-svg class="sensor-{{SensorType.pir}}" url="assets/svg/{{SensorType.pir}}.svg"></app-svg>
    <app-svg class="sensor-{{SensorType.alarm}}" url="assets/svg/{{SensorType.alarm}}.svg"></app-svg>
    <span>Window/Door sensors/Motion detection</span>
  </h3>
  <p>
    The alarm function is expanded and fortified with window/door sensors and motion detection to provide added
    security.
  </p>



</section>



<section [id]="Section.wiredExtra">
  <h2>
    Other smarts
  </h2>

  <h3>
    <app-svg class="sensor-{{SensorType.blinds}}" url="assets/svg/{{SensorType.blinds}}.svg"></app-svg>
    <span>Sun blinds / screens</span>
  </h3>
  <p>
    To protect against high sun radiation in summer, a passive house must be equipped with sun blinds/screens. The
    screens can be passive or automatically controlled by the smart-home system. External screens are more effective
    than internal screens.
  </p>

  <h3>
    <app-svg class="sensor-{{SensorType.pir}}" url="assets/svg/{{SensorType.pir}}.svg"></app-svg>
    <span>Motion sensors</span>
  </h3>
  <p>
    Motion sensors can be a fun addition to your smart-home setup, allowing for automated control of lights turning on
    and off. They can also enhance home security by supporting the alarm system.
  </p>


  <h3>
    <app-svg class="sensor-{{SensorType.temperature}}" url="assets/svg/{{SensorType.temperature}}.svg"></app-svg>
    <span>Temperature</span>
  </h3>
  <p>Temperature sensors play a important role in regulating the heating, cooling, and ventilation in specific areas of
    the house.
  </p>

</section>


<section [id]="Section.wiredVent">
  <h2>
    Ventilation
  </h2>

  <h3>
    <app-svg class="sensor-{{SensorType.ventIn}}" url="assets/svg/{{SensorType.ventIn}}.svg"></app-svg>
    <span>Ventilation in</span>
  </h3>
  <p>
    Due to the airtightness of the house, fresh air is necessary in the bedrooms and main living rooms to ensure proper
    ventilation. The airflow will then circulate to other areas of the house.
  </p>

  <h3>
    <app-svg class="sensor-{{SensorType.ventOut}}" url="assets/svg/{{SensorType.ventOut}}.svg"></app-svg>
    <span>Ventilation out</span>
  </h3>
  <p>
    Air exhausts are installed in the bathroom, kitchen, and toilets to remove moisture and unpleasant smells, as they
    are the rooms with "dirty" air.
  </p>


</section>

<section [id]="Section.wiredWater">
  <h2>
    Water
  </h2>

  <!-- <h3>
    <app-svg class="sensor-{{SensorType.waterCold}}" url="assets/svg/{{SensorType.waterCold}}.svg"></app-svg>
    <span>Water, Drinkable & cold</span>
  </h3>
  <p>
    Should we use this?
  </p> -->

  <h3>
    <app-svg class="sensor-{{SensorType.waterRain}}" url="assets/svg/{{SensorType.waterRain}}.svg"></app-svg>
    <span>Rainwater non-drinkable & cold</span>
  </h3>
  <p>
    This water has low calcium levels, making it ideal for watering plants and gardens. It can also be used for flushing
    toilets and washing machines, reducing the amount of soap required. While it doesn't need to be drinkable, it's
    still a valuable resource that shouldn't be wasted.
  </p>

  <h3>
    <app-svg class="sensor-{{SensorType.waterWarm}}" url="assets/svg/{{SensorType.waterWarm}}.svg"></app-svg>
    <span>Water, Drinkable Both warm and cold</span>
  </h3>
  <p>
    Used for daily water use.
  </p>

  <h3>
    <app-svg class="sensor-{{SensorType.shower}}" url="assets/svg/{{SensorType.shower}}.svg"></app-svg>
    <span>Shower, Drinkable Both warm and cold</span>
  </h3>
  <p>
    The mixing of warm-drink water and cold rainwater is not permitted when using water from a supply company, due to
    the high risk of flow back. However, the use of rainwater has benefits such as reducing the amount of water used,
    requiring less soap, and resulting in softer hair.
  </p>

  <h3>
    <app-svg class="sensor-{{SensorType.drain}}" url="assets/svg/{{SensorType.drain}}.svg"></app-svg>
    <span>Drainage</span>
  </h3>
  <p>
    Every water tap has of course a drain. But sometimes they come separate , like in the laundry room.
  </p>


  <h3>
    <app-svg class="sensor-{{SensorType.toilet}}" url="assets/svg/{{SensorType.toilet}}.svg"></app-svg>
    <span>Toilets</span>
  </h3>
  <p>
    You know what they do. Should be flushed with (filtered, non-stinky) rainwater.
  </p>


</section>

<disqus identifier="PassiveOpen-Wired"></disqus>