<ng-container *ngIf="(scroll$ |async) as scroll">
  <div class="container
  graphic-{{scroll.graphic }}
section-{{scroll.section }}" *ngIf="(states$ | async) as states" fxLayout="column" fxLayoutAlign="end"
    fxLayoutGap="8px">



    <ng-container *ngIf="scroll.graphic === Graphic.house2D">
      <div class="sub-controls" *ngIf="toc" fxLayout="column" fxLayoutAlign="end end" fxLayoutGap="8px">
        <ng-container *ngIf="(page$| async).startsWith('house')|| (page$| async).startsWith('?')">

          <div class="toc">


            <checkbox-state [floatLeft]=floatLeft (stateChange)="appService.setState(States.doors)"
              [state]="getState(States.doors)">
              <span label> Doors </span>
              <span icon>
                <mat-icon style="font-family:'Material Icons Outlined';"> door_front</mat-icon>
              </span>
            </checkbox-state>
            <checkbox-state [floatLeft]=floatLeft (stateChange)="appService.setState(States.theoreticalWalls)"
              [state]="getState(States.theoreticalWalls)">
              <span label> Theoretic walls </span>
              <span icon>
                <mat-icon style="font-family:'Material Icons Outlined';"> density_large</mat-icon>
              </span>
            </checkbox-state>
            <checkbox-state [floatLeft]=floatLeft (stateChange)="appService.setState(States.examplePlan)"
              [state]="getState(States.examplePlan)">
              <span label> Example Plan </span>
              <span icon>
                <mat-icon style="font-family:'Material Icons Outlined';">table_bar</mat-icon>
              </span>
            </checkbox-state>
            <checkbox-state [floatLeft]=floatLeft (stateChange)="appService.setState(States.grid)"
              [state]="getState(States.grid)">
              <span label> Grid </span>
              <span icon>
                <mat-icon style="font-family:'Material Icons Outlined';">grid_on</mat-icon>
              </span>
            </checkbox-state>
            <checkbox-state [floatLeft]=floatLeft (stateChange)="appService.setState(States.stramien)"
              [state]="getState(States.stramien)">
              <span label> Stramien </span>
              <span icon>
                <mat-icon style="font-family:'Material Icons Outlined';">grid_3x3</mat-icon>
              </span>
            </checkbox-state>


            <checkbox-state [floatLeft]=floatLeft (stateChange)="appService.setState(States.towerFootprint)"
              [state]="getState(States.towerFootprint)">
              <span label>
                Tower footprint </span>
              <span icon>
                <mat-icon style="font-family:'Material Icons Outlined';">hexagon</mat-icon>
              </span>
            </checkbox-state>
            <checkbox-state [floatLeft]=floatLeft (stateChange)="appService.setState(States.measure)"
              [state]="getState(States.measure)">
              <span label> Measurements </span>
              <span icon>
                <mat-icon style="font-family:'Material Icons Outlined';">square_foot</mat-icon>
              </span>
            </checkbox-state>

          </div>
        </ng-container>
        <ng-container *ngIf="(page$| async).startsWith('wired')">


          <div class="toc-text">


            <checkbox-state *ngFor="let sensor of sensors" [floatLeft]=floatLeft
              (stateChange)="appService.setState(sensor.state)" [state]="getState(sensor.state)">
              <span label> {{sensor.title}} </span>
              <span icon fxLayoutAlign="center center">
                <app-svg height="18px" width="18px" class="sensor-{{sensor.state}}"
                  url="assets/svg/{{sensor.state}}.svg">
                </app-svg>
              </span>
            </checkbox-state>

          </div>
        </ng-container>

      </div>
      <button mat-mini-fab (click)="toc = !toc" color="accent" [class.active]="toc">
        <mat-icon style.transform="rotate({{toc?20:180}}deg)" [style.transition]="'0.4s'">keyboard_double_arrow_down
        </mat-icon>
      </button>
      <ng-container *ngTemplateOutlet="floor"></ng-container>
      <ng-container *ngTemplateOutlet="buttonFullscreen"></ng-container>
    </ng-container>


    <ng-container *ngIf="scroll.graphic === Graphic.cross">

      <!-- <div class="sub-controls" *ngIf="toc" fxLayout="column" fxLayoutAlign="end" fxLayoutGap="8px">

        
      </div>
      <button mat-mini-fab (click)="toc = !toc" color="accent" [class.active]="toc">
        <mat-icon style.transform="rotate({{toc?-20:-180}}deg)" [style.transition]="'0.4s'">
          keyboard_double_arrow_down
        </mat-icon>
      </button> -->
      <button-state (click)="appService.setState(States.measure)" [floatLeft]=floatLeft>
        <span label>{{getState(States.measure)?'Remove measurements':'Add measurements'}}</span>
        <span icon>
          <mat-icon>square_foot</mat-icon>
        </span>
      </button-state>
      <button-state (click)="appService.setState(States.silhouette)" [floatLeft]=floatLeft>
        <span label>{{getState(States.silhouette)?'Remove Silhouette':'Silhouette'}}</span>
        <span icon>
          <mat-icon *ngIf="!getState(States.silhouette);else elseGrey">home</mat-icon>
          <ng-template #elseGrey>
            <mat-icon style="font-family:'Material Icons Outlined';">home_outline</mat-icon>
          </ng-template>
        </span>
      </button-state>



      <ng-container *ngTemplateOutlet="buttonFullscreen"></ng-container>
    </ng-container>

    <ng-container *ngIf="[Graphic.stairCross, Graphic.stairPlan].includes(scroll.graphic)">


      <button-state (click)="appService.setState(States.walkLine)" [floatLeft]=floatLeft
        *ngIf="[ Graphic.stairPlan].includes(scroll.graphic)">
        <span label>{{getState(States.walkLine)?'Remove walkline':'Add walkline'}}</span>
        <span icon>
          <mat-icon>directions_walk</mat-icon>
        </span>
      </button-state>

      <ng-container *ngTemplateOutlet="measure"></ng-container>

    </ng-container>



    <ng-container *ngIf="scroll.graphic === Graphic.construction">

      <div class="sub-controls" *ngIf="toc" fxLayout="column" fxLayoutAlign="end end" fxLayoutGap="8px">

        <div class="toc-text">
          <ng-container *ngFor="let part of constructionParts">
            <checkbox-toc [floatLeft]=floatLeft (stateChange)="appService.setState(part)" [state]="getState(part)">
              <span label> {{part.replace("construction-","")}} </span>
            </checkbox-toc>
          </ng-container>
        </div>

      </div>

      <button mat-mini-fab (click)="toc = !toc" color="accent" [class.active]="toc">
        <mat-icon style.transform="rotate({{toc?20:180}}deg)" [style.transition]="'0.4s'">keyboard_double_arrow_down
        </mat-icon>
      </button>


      <button-state (click)="appService.setState(Helpers3D.mirror)" [floatLeft]=floatLeft>
        <span label>{{getState(Helpers3D.mirror)?'Remove mirror':'mirror'}}</span>
        <span icon>
          <mat-icon>foundation</mat-icon>
        </span>
      </button-state>



      <ng-container *ngTemplateOutlet="buttonFullscreen"></ng-container>
    </ng-container>


    <ng-container *ngIf="scroll.graphic === Graphic.House3D">

      <div class="sub-controls" *ngIf="toc" fxLayout="column" fxLayoutAlign="end end" fxLayoutGap="8px">
        <div class="toc-text">

          <ng-container *ngFor="let house3DPart of house3DParts">
            <checkbox-toc [floatLeft]=floatLeft (stateChange)="appService.setState(house3DPart)"
              [state]="getState(house3DPart)">
              <span label> {{house3DPart.replace("house3d-","")}} </span>
              <span icon>
                <!-- <mat-icon style="font-family:'Material Icons Outlined';"> door_front</mat-icon> -->
                {{house3DPart.replace("house3d-","")}}
              </span>
            </checkbox-toc>

          </ng-container>
        </div>


      </div>
      <ng-container *ngTemplateOutlet="layers"></ng-container>

      <button-state mat-mini-fab [class.active]="getState(Helpers3D.clipBoxEnabled)" (click)="
        appService.setState(Helpers3D.clipBoxEnabled)" color="accent">
        <span label>
          Clipped
        </span>
        <span icon>
          <mat-icon>crop</mat-icon>
        </span>
      </button-state>
      <button-state mat-mini-fab [class.active]="getState(Helpers3D.clipBoxShow)" (click)="
        appService.setState(Helpers3D.clipBoxShow)" color="accent">
        <span label>
          Show clipbox outlines
        </span>
        <span icon>
          <mat-icon>view_in_ar_new</mat-icon>
        </span>
      </button-state>




      <ng-container *ngTemplateOutlet="floor"></ng-container>

      <button-state (click)="swapCamera()" [floatLeft]=floatLeft>
        <span label>Change to {{!camera?'Perspective':'Ortho'}}</span>
        <span icon>
          <mat-icon [ngStyle]="{
          'transform': 
          (camera ? '' : 'perspective(10px) rotateX(9deg)  translate(0px, -2px)'),
          'font-family': 'Material Icons Outlined'
        }">
            rectangle</mat-icon>
        </span>
      </button-state>


    </ng-container>

    <ng-container *ngIf="scroll.graphic === Graphic.map">


      <div class="sub-controls" *ngIf="toc" fxLayout="column" fxLayoutAlign="end end" fxLayoutGap="8px">
        <div class="toc-text">
          <app-map-layer></app-map-layer>
        </div>


      </div>
      <ng-container *ngTemplateOutlet="layers"></ng-container>



      <button-state (click)="mapService.zoomToHouse()">
        <span label> Zoom to house</span>
        <span icon>
          <mat-icon>house</mat-icon>
        </span>
      </button-state>




      <button-state (click)="olMeasureService.activate()" [disabled]="olMeasureService.active">
        <span label> {{olMeasureService.active?'Stop': 'Start'}} measuring</span>
        <span icon>
          <mat-icon style="font-family:'Material Icons Outlined';">square_foot</mat-icon>
        </span>
      </button-state>


      <!-- (click)="appService.setState(States.walkLine)" [floatLeft]=floatLeft
      *ngIf="[ Graphic.stairPlan].includes(scroll.graphic)" -->
      <button-state (click)="olBaseMapService.nextBasemap()">
        <span label> {{olBaseMapService.basemap$ | async}}</span>
        <span icon>
          <mat-icon style="font-family:'Material Icons Outlined';">map</mat-icon>
        </span>
      </button-state>



    </ng-container>



  </div>
</ng-container>


<ng-template #buttonFullscreen>
  <button-state (click)="fullscreen = !fullscreen" [floatLeft]=floatLeft>
    <span label>{{fullscreen?'Close':'Open'}} fullscreen</span>
    <span icon>
      <mat-icon *ngIf="!fullscreen">fullscreen</mat-icon>
      <mat-icon *ngIf="fullscreen">fullscreen_exit</mat-icon>
    </span>
  </button-state>
</ng-template>

<ng-template #floor>
  <button-state [floatLeft]=floatLeft *ngIf="(floor$ |async) as floor" (click)="setFloor()">
    <span label>
      <span *ngIf="floor === Floor.top">Switch to ground floor</span>
      <span *ngIf="floor === Floor.ground">Switch to top floor</span>
    </span>
    <span icon>
      <mat-icon *ngIf="floor === Floor.top">exposure_plus_1</mat-icon>
      <mat-icon *ngIf="floor === Floor.ground">exposure_zero</mat-icon>
    </span>
  </button-state>
</ng-template>

<ng-template #measure>

  <button-state (click)="appService.setState(States.measure)" [floatLeft]=floatLeft>
    <span label>{{getState(States.measure)?'Remove measurements':'Add measurements'}}</span>
    <span icon>
      <mat-icon>square_foot</mat-icon>
    </span>
  </button-state>

</ng-template>


<ng-template #layers>

  <button-state (click)="toc = !toc" [floatLeft]=floatLeft>
    <span label>{{toc?'Close ':'Open '}} layers</span>
    <span icon>
      <mat-icon style.transform="rotate({{toc?0:180}}deg)" [style.transition]="'0.4s'">keyboard_double_arrow_down
      </mat-icon>
    </span>
  </button-state>

</ng-template>