:host {
  display: block;
  position: fixed;
  bottom: 0px;
  z-index: 9999;
  &.controls-left {
    left: 50px;
    .sub-controls {
      left: -24px;
      bottom: 8px;
      position: relative;
    }
    label {
      position: absolute;
      text-align: left;
      left: 50px;
      color: var(--color-100);
      text-shadow: 2px 2px var(--accent-50);
      cursor: pointer;
    }
  }
  &.controls-right {
    right: 50px;
    .sub-controls {
      right: -24px;
      bottom: 8px;
      position: relative;
    }
    label {
      position: absolute;
      text-align: right;
      right: 50px;
      color: var(--color-100);
      text-shadow: 2px 2px var(--accent-50);
      opacity: 1;
    }
  }
  ::ng-deep {
    .sensor-button {
      right: 0;
      svg {
        position: absolute;
        top: 0px;
        right: 0px;
      }
    }
    .sensor-label {
      right: 15px !important;
      top: 6px;
      line-height: 0;
    }
  }
}
.active {
  background-color: var(--accent-50) !important;
  box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 20%), 0px 0px 0px 0px rgb(0 0 0 / 14%),
    0px 0px 0px 0px rgb(0 0 0 / 12) !important;
  label {
    opacity: 0.4;
  }
  color: #1b1b1b !important;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 8px 8px 16px 8px;
}
.construction {
  height: 16px;
  width: 16px;
  label {
    right: 18px !important;
    top: 6px;
    line-height: 0;
  }
}
.dev {
  color: #613d1a;
}
