<h1>ToDo</h1>

<section>
  <h2>Building phases </h2>
  <ol>
    <li (click)="scrollTo(Preparations)">Preparations</li>
    <li (click)="scrollTo(Preparations)">Foundation & Groundwork </li>
    <li (click)="scrollTo(Preparations)">Frame & Weather seal</li>
    <li (click)="scrollTo(Preparations)">Installations</li>
    <li (click)="scrollTo(Preparations)">Interior</li>
    <li (click)="scrollTo(Preparations)">Other</li>
  </ol>
</section>

<section #Preparations>
  <h2>Preparations</h2>
  <ul>
    <li>
      <h3>Förhandsbeked</h3>
      <a>https://www.horby.se/bygga-bo-och-miljo/bygga-nytt-andra-eller-riva/forhandsbesked/</a>
      Situation, size, materials, etc.

    </li>
    <li>
      <h3>Gear</h3>
      <ul>
        <li>Telescopic handler</li>
        <li>Chain saw</li>
        <li>Table saw</li>
        <li>Compressor</li>
        <li>Lint saw</li>
      </ul>
    </li>
    <li>
      <h3>Partnerdeal</h3>
      <ul>
        <li>Heat gun</li>
        <li>Laser Level</li>
      </ul>
    </li>
    <li>
      <h3>Bygglov</h3>
      <ul>
        <li>side / floor plans</li>
        <li>details</li>
        <li>
          <a>https://www.horby.se/bygga-bo-och-miljo/bygga-nytt-andra-eller-riva/bygglov/</a>
        </li>
      </ul>
    </li>
    <li>
      <h3>Calculations</h3>
      <ul>
        <li>PHPP</li>
        <li>Light</li>
        <li>Heat</li>
        <li>foundations</li>
        <li>construction</li>
        <li>fire?</li>
        <li>ventilation</li>
      </ul>
    </li>

    <li>
      <h3>Geologisk undersökning</h3>
    </li>

    <li>
      <h3>Connections</h3>

      <ul>
        <li>Electricity<br>
          If <b>old house</b> has 3phase, its perfect. During building is good.
          Otherwise we need a <b>trench</b>. We need 3x cable for lights and such
        </li>
        Thunder protection


        <li>Water</li>
        Old house during building.
        We need a <b>trench</b> or we can use a <b>well</b>.
        <li>Internet</li>
        We need a <b>trench</b> or we can use a <b>4G</b>.
        <li>Sewage</li>
        Old house during building.
        We need a <b>trench</b> or we can use a <b>septic tank</b>.
        TreKammarBrunn med filteringsbed
        Pump to kommunal systems

        Use old tank to pump
      </ul>

    </li>


    <li>
      <h3>Questions kommun</h3>
      <ul>
        <li>Building insurance</li>
        <li>safety</li>
        <li>fire</li>
        <li>handicaps requirements</li>

        <li>Insepector</li>
        <li>Building själv</li>
        <li>Building company</li>
      </ul>
    </li>


    <li>
      <h3>Money</h3>

      <ul>
        <li>How much plot</li>
        <li>How much build</li>
        <li>Loan for house</li>
        <li>Loan for land</li>
      </ul>
    </li>

    <li>
      <h3>Prices and help</h3>
      <ul>
        <li>Hörby</li>
        <li>PassiveHouse</li>
        <li>Sverige global</li>
        <li>Eko</li>
      </ul>
    </li>

  </ul>
</section>