<svg #svg class="plan" preserveAspectRatio="xMidYMid meet">
  <style type="text/css">
    .g-room {
      fill: url(#MyGradient)
    }
  </style>
  <defs>
    <linearGradient id="MyGradient" gradientTransform="rotate(90)">
      <stop class="alt-stop" offset="-10%" />
      <stop class="alt-stop" offset="30%" />
      <stop class="main-stop" offset="100%" />
    </linearGradient>
    <filter id="inset-shadow">
      <feGaussianBlur stdDeviation="0.5" result="offset-blur" />
      <feComposite operator="out" in="SourceGraphic" in2="offset-blur" result="inverse" />
      <feFlood flood-color="black" flood-opacity="1" result="color" />
      <feComposite operator="in" in="color" in2="inverse" result="shadow" />
      <feComponentTransfer in="shadow" result="shadow">
        <feFuncA type="linear" slope=".175" />
      </feComponentTransfer>
    </filter>
  </defs>
  <g class="all" transform="rotate(0)">
    <g class="icons" style="display: none;">
      <g id="icon-{{SensorType}}" *ngFor="let SensorType of SensorTypes; let i = index">
      </g>
    </g>

    <g class="house-stramien">
      <g clas="house-stramien" class="house-stramien-in">
        <polyline clas="house-stramien" id="house-stramien-in-we-a"></polyline>
        <polyline clas="house-stramien" id="house-stramien-in-we-b"></polyline>
        <polyline clas="house-stramien" id="house-stramien-in-we-c"></polyline>
        <polyline clas="house-stramien" id="house-stramien-in-we-d"></polyline>
        <polyline clas="house-stramien" id="house-stramien-in-ns-a"></polyline>
        <polyline clas="house-stramien" id="house-stramien-in-ns-b"></polyline>
        <polyline clas="house-stramien" id="house-stramien-in-ns-c"></polyline>
        <polyline clas="house-stramien" id="house-stramien-in-ns-d"></polyline>
      </g>
      <g clas="house-stramien" class="house-stramien-out">
        <polyline clas="house-stramien" id="house-stramien-out-we-a"></polyline>
        <polyline clas="house-stramien" id="house-stramien-out-we-b"></polyline>
        <polyline clas="house-stramien" id="house-stramien-out-we-c"></polyline>
        <polyline clas="house-stramien" id="house-stramien-out-we-d"></polyline>
        <polyline clas="house-stramien" id="house-stramien-out-ns-a"></polyline>
        <polyline clas="house-stramien" id="house-stramien-out-ns-b"></polyline>
        <polyline clas="house-stramien" id="house-stramien-out-ns-c"></polyline>
        <polyline clas="house-stramien" id="house-stramien-out-ns-d"></polyline>
      </g>
    </g>

    <g class="g-grid">
      <!-- <circle id="grid-index-circle" r="0.05" cx="0" cy="0" fill="var(--color-50)"></circle> -->
      <polyline class="grid-vertical" id="grid-index-{{i}}" *ngFor="let item of [].constructor(55); let i = index;">
      </polyline>
      <polyline class="grid-horizontal" id="grid-index-{{i}}" *ngFor="let item of [].constructor(55); let i = index;">
      </polyline>
    </g>

    <g class="house-wind-rose">
      <polygon class="house-wind-rose-1"></polygon>
      <polygon class="house-wind-rose-2"></polygon>
      <text class="house-wind-rose-text"></text>
    </g>

    <g class="g-room">
      <polygon [id]="key" *ngFor="let key of roomKeys"></polygon>
    </g>

    <g class="plan-stair-plan included-stairs-plan">
      <svg class="plan-stair-plan "></svg>
    </g>

    <g class="g-wall">
      <g [id]="key" *ngFor="let key of wallKeys">
        <polyline class="wall-left"></polyline>
        <polyline class="wall-right"></polyline>
        <polygon class="wall-fill"></polygon>
        <circle class="wall-origin"></circle>
      </g>
    </g>

    <g class="g-door">
      <g [id]="key" *ngFor="let key of doorKeys">
        <polygon class="door-wall-opening"></polygon>
        <path class="door-swing"></path>
      </g>
    </g>

    <g class="g-window">
      <g [id]="key" *ngFor="let key of windowKeys">
        <polygon class="window-wall-opening"></polygon>
        <path class="window-pane"></path>
      </g>
    </g>

    <g class="extra">
      <polyline id="view-lines"></polyline>
      <polygon id="central-void" filter="url(#inset-shadow)"></polygon>
      <polygon id="tower-walls"></polygon>

      <polyline id="roof-line-1"></polyline>
      <polyline id="roof-line-2"></polyline>
      <polyline id="roof-line-3"></polyline>
      <polyline id="roof-line-4"></polyline>
      <polyline id="roof-line-5"></polyline>
    </g>

    <g class="house-measure">
      <g id="house-total-height"></g>
      <g id="house-total-width"></g>
      <g id="house-width-1"></g>
      <g id="house-width-2"></g>
      <g id="house-width-3"></g>
      <g id="house-height-1"></g>
      <g id="house-height-2"></g>
      <g id="house-height-inner"></g>
      <g id="house-height-3"></g>
    </g>


    <g class="g-sensor">


      <polyline *ngFor="let key of sensorKeys" id="{{key}}" class="sensor-cable"></polyline>
      <g id="{{key}}" *ngFor="let key of sensorKeys" class="sensor-g">
        <use id="{{key}}" class="sensor-icon" />
      </g>

    </g>


    <!-- <image class="render-img"></image> -->
    <g class="g-sun"></g>
  </g>

</svg>