<h1>Rain water</h1>

<section [id]="Section.rainWelcome">
  <h2>Rain harvest/water </h2>
  <p>
    Climate adaptation requires the conservation of water, which can be achieved by collecting rainwater and using it
    as
    a buffer during droughts. Rainwater, which has low calcium levels, is perfect for watering plants, flushing
    toilets,
    and washing clothes.
    <br><br>
    To ensure continuous water supply, a machine can automatically switch to normal drinking water backup if the
    rainwater tank runs out.

    <br><br>In theory showering with rainwater seems perfect, but most laws forbids to bend cold-rainwater with
    warm-drinkwater. If you do, you need less soap and your hair will be smooth. It might be different at your
    location
  </p>
  <app-img-page height="360" src="assets/img/rainwater_flow.png"></app-img-page>
</section>

<section [id]="Section.rainSize">
  <h2>Sizing</h2>

  A rainwater harvesting system typically begins with a catchment area, such as a roof, which collects rainwater. The
  water is then filtered and stored in a tank before being pumped into a pressure tank. Additional filters may be used
  after the pressure tank to improve the water quality.

  <br><br>
  To determine the appropriate size of the tank, a good rule of thumb is to have a tank that can hold at least 1500
  liters of water per person per day. For more serious water storage, a 10m<sup>3</sup> tank is a good option if space
  allows. The tank should be placed on a solid foundation or even buried underground. All entry points to the tank
  should be screened to prevent bugs and debris from entering, and the water should enter the tank via a falling pipe.


</section>

<section [id]="Section.rainFilter">
  <h2>Filters</h2>
  Pre-filters are an essential component of any rainwater harvesting system, with leafscreens in the gutter being a
  common type. These filters remove large particles and organic materials from the harvested water before they enter the
  tank. Although the water may not be suitable for drinking, it is safe to use for outdoor purposes, such as gardening.

  <br><br>
  To use rainwater indoors, a three-filter system is recommended.

  <ol>
    <li>Coarse filter, like sediment, you can have multiple of these so they wont clog so fast</li>
    <li>Coal filter, removes the smell and colors</li>
    <li>Micro filter, removes smaller bacteria</li>
  </ol>

  <br><br>
  It's important to note that the filters will need to be replaced every 10,000L of water, which can be a drawback of
  this system.

  <br><br>
  If you live in a smog area or other dirty area, you might need a 'first-flush' filter. This filter will remove the
  first 10-20 liter of water, which is the most dirty water. Often this is a vertical pipe with a small hole in the
  bottom, which slowly drains. Even an old rain barrel could fulfill this function.
</section>


<section [id]="Section.rainDrink">
  <h2>Drink water</h2>
  Using tap water for drinking and cooking is typically the easiest and most accessible option. While converting
  rainwater into drinking water is possible, it may not always be necessary. However, if you do want to use rainwater,
  there are several options available, including UV light and special passive filters.
</section>

<section [id]="Section.rainNoRain">
  <h2>No rain?</h2>
  Running out of rainwater in your tank is not an issue. The backfill machine will automatically switch to tap water,
  guaranteeing a continuous supply of water for your toilet.
  <br><br>
  While some people may fill up their rainwater tanks with tap water, it's a missed opportunity when it does rain.
  Investing in a backfill machine may cost more initially, but it can ultimately save water.

  <br><br>Leaving your rainwater tank empty is not recommended.
</section>

<section [id]="Section.rainReadmore" fxLayout="column" fxGap="24px">
  <h2>Read more</h2>

  <div class="app-card youtube-card">
    <app-img-youtube url="https://www.youtube.com/watch?v=DhEaKdmHeCk"></app-img-youtube>
    <div>
      Very basics of rainwater harvesting:
      <br><br>
      Andrew Millison - How to HARVEST RAINWATER from your roof
    </div>
  </div>

  <div class="app-card youtube-card">
    <app-img-youtube url="https://www.youtube.com/watch?v=oJXabPWjPy8"></app-img-youtube>
    <div>
      <div>
        Self build system in Dutch
        <br><br>
        Easykit Slimme zelfbouw - Hoe kan ik mijn regenwater recupereren en hergebruiken?
      </div>
    </div>
  </div>


  <div class="app-card youtube-card">
    <app-img-youtube url="https://www.youtube.com/watch?v=ppPLn6dgtFc"></app-img-youtube>
    <div>
      <div>
        Bigger setup 30.000 gallow / 115m<sup>3</sup>
        <br><br>
        April Wilkerson -Installing Rain Water Collection
      </div>
    </div>
  </div>


</section>