<ng-container *ngIf="(house$|async) as house">

  <section [id]="Section.mainWelcome">
    <h1>Welcome to {{house.name}}</h1>
    <p class="mat-caption">
      A Passive House, but in a classical style, and all open-source. We love to share our plans with the community.
      Consider it as free building plans for your own house, or give them to your contractor. It's truly free.
    </p>
  </section>

  <section [id]="Section.mainPassiv">
    <h2>Passiv? <span style="font-size: 0.7em;">(Its German)</span></h2>
    <p>Passive houses are the future. Feel free to <a href="https://passivehouse.com/" target="_blank">search online for
        'Passiv Haus'</a>. We thought it is not really inspiring and that is a shame. Therefore, let us try to explain
      it briefly:</p>
    <ul>
      <li>
        <tag [tag]="tags.insulated" [overlayTemplate]="insulated" cdkOverlayOrigin>Great
          insulated</tag>

        <ng-template #insulated>
          Insulation keeps you warm. Passiv houses have almost no heatloss so therefore (almost) no heating is needed!
          The
          walls are thicker than you are used to: {{0.5}} meter
        </ng-template>

      </li>
      <li>Well & compact desinged</li>
      <li>
        <tag [tag]="tags.orientation" [overlayTemplate]="orientation" cdkOverlayOrigin>Orientation</tag> to the sun

        <ng-template #orientation>
          In the winter, we need the sun to warmup the house. In the summer the house needs to be shaded on the outside
          to prevent overheating.
        </ng-template>
      </li>
      <li>No thermal bridges</li>
      <li>Can be houses, but also offices etc</li>
      <li>Sustainable (well in our opinion)</li>
    </ul>

    <p>Passiv Haus has one punchline:</p>
    <div fxLayoutAlign="center" style="margin:8px 0 32px;">
      <tag [tag]="tags.efficiency" [overlayTemplate]="efficiency" cdkOverlayOrigin>Efficiency first</tag>
      <ng-template #efficiency>
        It is even a hashtag <b>#EfficiencyFirst</b>. Why look at green energy if we wast still alot of energy. (
        Ofcourse we still need green energy! ). First insulation to the max, before thinking of solarpanels.
      </ng-template>
    </div>
    <p>We dare to add one :</p>
    <div fxLayoutAlign="center" style="margin:8px 0 32px;">
      <tag [tag]="tags.simple" [overlayTemplate]="simple" cdkOverlayOrigin> Simplicity is key</tag>
      <ng-template #simple>
        Keeping the design simple, so we skip complex solutions. Therefore the costs will be lower.
      </ng-template>
    </div>
    <p>
      While Passive Houses tend to prioritize function over form, we believe that style should also be a consideration.
      For this reason, we are working on combining classic design elements with this innovative concept.
    </p>


  </section>

  <section [id]="Section.mainBasics">
    <h2>The basics</h2>
    <p>
      Using parametric design, we've created an interactive platform for designing this house. Play around with the
      sliders to see how you can customize the design to your liking. Let's start with the basics.
    </p>
    <h3>Two axis</h3>
    <p>

      The squared shape is the most efficient design for a Passive House, but a mansard roof can provide a classic
      aesthetic. Unfortunately, it's not easy to incorporate a mansard roof into a squared house. To achieve a mansard
      roof, this design follows two axes with a specific <tag [tag]="tags.baseDimension"
        [overlayTemplate]="baseDimension" cdkOverlayOrigin>base dimension</tag>.
      One of the advantages of this design is the stunning <tag [tag]="tags.viewlines">view lines</tag> it provides.
    </p>

    <ng-template #baseDimension>
      It is not really a thing, more a concept. It helps the already complex roof to look good. And also, very helpful
      with calculations.
    </ng-template>

    <label>
      <span>Base dimension
      </span>
      <mat-slider min="6" max="15" [ngModel]="house.studAmount"
        (input)="update('house','studAmount', $event.value, tags.baseDimension);" tickInterval="1">
      </mat-slider>
    </label>

    <label class="technical">
      <span>Technical </span>

      When describing our house's construction, we use the term "studs" to refer to the wooden columns that make up the
      walls. These studs are arranged in a grid pattern with a spacing of {{house.studDistance *100}} cm. At present,
      the wall consists of {{house.studAmount}} studs.
      <br>
      <br>
      <table>
        <tr>
          <td>Total area</td>
          <td>{{ house.stats.floor.all?.area }} m<sup>2</sup></td>
        </tr>
        <tr>
          <td>Total volume</td>
          <td>{{ house.stats.floor.all?.volume }} m<sup>3</sup></td>
        </tr>
      </table>
    </label>


    <label class="technical">
      <span>Thoughts </span>
      If we want 2 build in fridge and freezer, and a kitchen island of 4 blocks. Plus a wall would result in a
      {{100+600*4}}mm wall next to the double door and the inner corner of the house. With a double door and the full
      inner with it would be {{(100+600*4)*2+1800}}mm
    </label>

  </section>


  <section [id]="Section.mainExtensions">
    <h2>Extensions</h2>
    <p>
      The south-facing side of the house is designed with a <tag [tag]="tags.extensionToSouth"
        [overlayTemplate]="extensionToSouth" cdkOverlayOrigin>south wing</tag> that breaks up the otherwise monotonous
      lines and creates more interesting view points. The <tag [tag]="tags.extensionToNorth"
        [overlayTemplate]="extensionToNorth" cdkOverlayOrigin>north wing</tag>, located for convenience, has fewer
      windows due to its colder and darker nature.
    </p>
    <h3>Body parts </h3>

    <ng-template #extensionToSouth>
      The south wing is a design element that effectively breaks up the lengthy facade of the house's south side. If
      desired, the design can be simplified by removing this feature.
    </ng-template>
    <ng-template #extensionToNorth>
      To maintain the compact design of the house, avoid making the north wing too long. If you need more space,
      consider increasing the base dimension.
    </ng-template>

    <label>
      <span>South wing
      </span>
      <mat-slider min="0" max="6" [ngModel]="house.studAmountSouth"
        (input)="update('house','studAmountSouth',$event.value, tags.extensionToSouth)" thumbLabel
        [displayWith]="studLabel" tickInterval="1">
      </mat-slider>
    </label>
    <label>
      <span>
        North wing
      </span>
      <mat-slider [min]="9" [max]="18" [ngModel]="house.studAmountNorth"
        (input)="update('house','studAmountNorth',$event.value ,tags.extensionToNorth)" thumbLabel
        [displayWith]="studLabel" tickInterval="1">
      </mat-slider>
    </label>
    <label>
      <span>
        West wing
      </span>
      <mat-slider [min]="5" [max]="15" [ngModel]="house.studAmountWest"
        (input)="update('house','studAmountWest',$event.value ,tags.extensionToWest)" thumbLabel
        [displayWith]="studLabel" tickInterval="1">
      </mat-slider>
    </label>
    <label>
      <span>
        East wing
      </span>
      <mat-slider [min]="5" [max]="9" [ngModel]="house.studAmountEast"
        (input)="update('house','studAmountEast',$event.value ,tags.extensionToEast)" thumbLabel
        [displayWith]="studLabel" tickInterval="1">
      </mat-slider>
    </label>

    <label class="technical">
      <span>Technical
      </span>

      <table>



        <tr>
          <td>Floor</td>
          <td>area</td>
          <td>ground</td>
          <td>{{ house.stats.floor.ground.area}} m2</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>top</td>
          <td>{{ house.stats.floor.top.area}} m2</td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td>total</td>
          <td>{{ house.stats.floor.all?.area }} m2</td>
        </tr>


        <!-- <tr>
          <td> Wall</td>
          <td>inside</td>
          <td>length</td>
          <td>{{ house.stats.wall.innerLength }} m</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>area</td>
          <td>{{ house.stats.wall.innerArea }} m2</td>
        </tr>
        <tr>
          <td></td>
          <td>outside</td>
          <td>length</td>
          <td>{{ house.stats.wall.outerLength }} m</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>area</td>
          <td>{{ house.stats.wall.outerArea }} m2</td>
        </tr> -->


      </table>

    </label>


  </section>


  <section [id]="Section.mainTower" style="padding-bottom: 80px;">
    <h3>Tower</h3>
    <p>Not only does the tower provide a functional backdoor, but it also adds an intriguing feature to the house's
      exterior. Additionally, the shower location within the tower is impressive and the tower itself could potentially
      offer a rooftop viewpoint. </p>
    <mat-slide-toggle [ngModel]="house.showTower" (ngModelChange)="update('house','showTower',$event)">With a
      practical
      tower
    </mat-slide-toggle>
  </section>



















  <section [id]="Section.roofBasics">


    <h1>Cross section</h1>

    <h2>Slicing it, the basics</h2>
    <p>Although high ceilings can be more expensive, they add a lot of value by making a house feel more open and airy.
      Note that longer 3000mm will be more expensive, because of the max length of some building materials.
    </p>
    <label>
      <span>Ceiling height: {{house.cross.ceilingHeight}} m</span>
      <mat-slider min="2.6" max="3.3" [ngModel]="house.cross.ceilingHeight"
        (input)="update('cross','ceilingHeight',$event.value)" step="0.1" tickInterval="1"></mat-slider>
    </label>

    <h3>Foundation: {{house.cross.crawlerSpace? 'crawler space':'flat foundation'}}</h3>
    <p>It's important to consider a crawl space during the design phase, as it can have a significant impact on the
      overall building experience. A crawl space can raise the building, offering more protection against climate
      change, such as flooding or heavy rains. However, it is important to note that a crawl space can also be more
      expensive and take more time to build.</p>
    <mat-slide-toggle [ngModel]="house.cross.crawlerSpace" (ngModelChange)="update('cross','crawlerSpace',$event)">With
      a
      {{house.cross.crawlerSpace? 'crawler space':'flat foundation'}}
    </mat-slide-toggle>
    <label>
      <span>Ground floor above ground: {{house.cross.crawlerSpace?house.cross.floorAboveGround:0}} m</span>
      <mat-slider min="0" [max]="house.cross.crawlerHeight+house.cross.groundFloorThickness"
        [ngModel]="house.cross.floorAboveGround" (input)="update('cross','floorAboveGround',$event.value)" step="0.1"
        tickInterval="1" [disabled]="!house.cross.crawlerSpace"></mat-slider>
    </label>


  </section>


  <section [id]=" Section.roofCircle">

    <h2>Roof style</h2>
    <p><a href="https://en.wikipedia.org/wiki/Mansard_roof" target="_blank">Mansard or Gambrel roof</a> gives a nice
      classic countryside style. There are three methods to create it. We will check both the "circle" and
      '70°/30°'</p>

    <h2>Circle-based</h2>
    <p>Draw a <tag [tag]="tags.halfCircle">half circle</tag> and two lines extending from the center at a 45° angle. Be
      aware that adjusting the overhang using the slider will cause the circle to move to maintain proportions. The
      angles used in this technique are 67.5° and 22.5°.
    </p>



    <label>
      <span>(Fictive) 'Wider roof'</span>
      <mat-slider min="0" max="2" [ngModel]="house.cross.roofCirclePullDown"
        (input)="update('cross','roofCirclePullDown',$event.value,tags.halfCircle)" step="0.1" tickInterval="1">
      </mat-slider>
    </label>

    <label>
      <span>Walls under the roof {{house.cross.roofCircleWalls}}m</span>
      <mat-slider min="0" max="2" [ngModel]="house.cross.roofCircleWalls"
        (input)="update('cross','roofCircleWalls',$event.value)" step="0.1" tickInterval="1"></mat-slider>
    </label>

  </section>


  <section [id]="Section.roof70">
    <h2>The 70°/30° roof</h2>
    <p>With this technique, draw a line 70° until a <tag [tag]="tags.bendPoint" [overlayTemplate]="bendPoint"
        cdkOverlayOrigin>bend point</tag>. then follow up with a 30° angle. The upper roof has great solor potential.
      It is possible to extending the roof downwards.
      Nevertheless, it's crucial to keep proportion in mind to prevent an unappealing appearance.
    </p>
    <ng-template #bendPoint>
      A concept, how far is the bend-point of the roof, away from the outside wall.
    </ng-template>

    <label>
      <span>Move <tag [tag]="tags.bendPoint" [overlayTemplate]="bendPoint" cdkOverlayOrigin>bend point</tag></span>
      <mat-slider min="0.4" max="2" [ngModel]="house.cross.roof70offset"
        (input)="update('cross','roof70offset',$event.value,tags.bendPoint)" step="0.1" tickInterval="1"></mat-slider>
    </label>

    <label>
      <span>Walls under the roof: {{house.cross.roof70Walls}}m</span>
      <mat-slider min="0" max="2" [ngModel]="house.cross.roof70Walls"
        (input)="update('cross','roof70Walls',$event.value, tags.roofWalls)" step="0.1" tickInterval="1"></mat-slider>
    </label>

    <label>
      <span>Roof extension: {{house.cross.roof70Extension}}m</span>
      <mat-slider min="0" max="2" [ngModel]="house.cross.roof70Extension"
        (input)="update('cross','roof70Extension',$event.value)" step="0.1" tickInterval="1"></mat-slider>
    </label>





    <label class="technical">
      <span>Technical </span>
      It can be wise to have the rooftile pattern in mind while designing the roof.
      The top roof. distance / x - 330 mm

      Top should be 30mm from the roof ridge
      h
      The the last mansard bend 53-80 mm shorter (75 prefferd) The last row is just 300mm over the bend.


      <br><br>
      The upper roof is {{ house.cross.roof.roofLengths[RoofLength.upper] | number: '1.0-2'}}m long<br>
      So {{house.cross.roof.upperRoofTiles}} tiles with {{house.cross.roof.upperRoofTilesSpacer *1000 | number:
      '1.0-0' }}mm between
      <br><br>
      The lower roof is {{ house.cross.roof.roofLengths[RoofLength.lower] | number: '1.0-2'}}m long<br>
      So {{house.cross.roof.lowerRoofTiles}} tiles with {{house.cross.roof.lowerRoofTilesSpacer *1000 | number:
      '1.0-0' }}mm between

      <br><br>
      The roof foot is {{ house.cross.roof.roofLengths[RoofLength.sprocket] | number: '1.0-2'}}m long


    </label>


    <h2>Sprocket</h2>

    One disadvantage of a mansard roof is that the lower roof is steep, and its harder to create a nice overhang.
    Therefore we can create bigger eaves by flatting out the last {{house.cross.roof.kickerRoofTiles}} roof tiles.
    This is called sprocketed eaves or Bellcast (French: Coyau )

    <label>
      <span>Size of the kicker {{house.cross.roof.kickerRoofTileLength | number:
        '1.0-2'}}m</span>
      <mat-slider min="0" max="4" [ngModel]="house.cross.roof.kickerRoofTiles"
        (input)="update('roof','kickerRoofTiles',$event.value)" step="1" tickInterval="1"></mat-slider>
    </label>

    <label>
      <span>Angle of the kicker {{house.cross.roof.kickerRoofAngle}}&deg;</span>
      <mat-slider min="0" max="60" [ngModel]="house.cross.roof.kickerRoofAngle"
        (input)="update('roof','kickerRoofAngle',$event.value)" step="0.5" tickInterval="1"></mat-slider>
    </label>

  </section>


  <section [id]="Section.roofChoice">
    <h3>Roof, 70° or Circle</h3>
    <p>In the end, the 70° based mansard roof is easier to design with. Click on the buttons to compare them.
    </p>
    <mat-button-toggle-group name="roofstyle" [(ngModel)]="house.cross.roofStyle"
      (ngModelChange)="choosenRoofstyle($event)">
      <mat-button-toggle [value]="RoofStyle.roofCircle">Circle based</mat-button-toggle>
      <mat-button-toggle [value]="RoofStyle.roofCircleAnd70">Both</mat-button-toggle>
      <mat-button-toggle [value]="RoofStyle.roof70">70° based</mat-button-toggle>
    </mat-button-toggle-group>

  </section>


  <section [id]="Section.roofEdge">
    <h3>The roof edge</h3>
    <p>We can look at the silhouette to image it a bit better. We can also add or remove a gutter, and more decorative
    </p>
  </section>











  <section [id]="Section.EndOfPageHouse">
    <h3>This was the main design</h3>
    <p>This site has a lot of info, if you are up for more. Feel free to join us at
      this <br><a href="{{discord}}" target="_blank"
        style="background: var(--primary-color); padding: 0 6px; color: white;">
        <fa-icon [icon]="faDiscord"></fa-icon> discord
        channel
      </a>
    </p>
    <br>
    <p>An other interesting page could be the layers of a wall/construction </p>
    <div class="on-page-menu ">
      <button mat-menu-item routerLink="/construction">
        <mat-icon>handyman</mat-icon>
        <span>Construction</span>
      </button>
    </div>

    <p>There is a menu on the top-left with a lot more items. Some are listed here</p>
    <br>
    <div class="on-page-menu ">

      <button mat-menu-item routerLink="/wired">
        <mat-icon>bolt</mat-icon>
        <span>Wired</span>
      </button>
      <button mat-menu-item routerLink="/installations">
        <mat-icon>solar_power</mat-icon>
        <span>Installations</span>
      </button>
      <button mat-menu-item routerLink="/map">
        <mat-icon>pin_drop</mat-icon>
        <span>Map</span>
      </button>
      <button mat-menu-item routerLink="/stairs">
        <mat-icon style="font-family:'Material Icons Outlined';">stairs</mat-icon>
        <span>Stairs</span>
      </button>
    </div>

  </section>

</ng-container>

<!-- <disqus identifier="PassiveOpen-House"></disqus> -->