::ng-deep {
  svg.cross {
    width: 100%;
    height: 100%;
    position: relative;

    *[id*="-fill"] {
      stroke: none;
      opacity: 0;
      &#building-ground-fill {
        opacity: 1;
        fill: var(--color-0);
      }
    }
    * {
      transition: fill 0.4s;
    }

    .g-roof-circle,
    .g-roof-70,
    .g-building {
      stroke: var(--color-70);
      fill: var(--color-30);
      #building-crawler,
      #building-room {
        fill: var(--color-0);
      }
    }

    *[id*="__h-"] {
      stroke: var(--primary-color) !important;
      opacity: 0;
      fill: none;
    }
  }

  //<============== Sections ===============>//
  .section-roof-basics {
    #building-ground-fill {
      fill: transparent !important;
    }
  }
  .tag-roof-both,
  .section-roof-choice {
    #roof-70-shadow {
      opacity: 0.6;
      fill: var(--primary-color) !important;
    }
    #roof-circle-shadow {
      opacity: 1;
      fill: var(--accent-color) !important;
    }
  }

  //<============== Sections ===============>//

  //<============== Tags ===============>//
  .tag-half-circle {
    *[id*="roof-circle__h-"] {
      opacity: 1 !important;
    }
  }

  .tag-bend-point {
    *[id*="bend-point__h-"] {
      opacity: 1 !important;
    }
  }

  //<============== Tags ===============>//
  ////////////////////// States //////////////////////
  .state-silhouette {
    #building-roof-circle-wall1,
    #building-roof-circle-wall2,
    #building-roof-70-wall1,
    #building-roof-70-wall2,
    #building-roof-70-kicker-1,
    #building-roof-70-kicker-2,
    *[id*="-fill"]:not(#building-ground-fill) {
      fill: var(--color-90) !important;
      opacity: 1 !important;
      stroke: var(--color-90) !important;
    }
    *[id*="-shadow"] {
      stroke: var(--color-90) !important;
      fill: var(--color-90) !important;
    }
  }

  ////////////////////// States //////////////////////
}
