<svg #svg class="cross" preserveAspectRatio="xMidYMid meet">
  <defs>
    <pattern id="diagonalHatch" patternUnits="userSpaceOnUse" width="4" height="4" patternTransform="scale(0.1)">
      <path d="M-1,1 l2,-2
               M0,4 l4,-4
               M3,5 l2,-2" style="stroke:black; stroke-width:0.1" />
    </pattern>
  </defs>

  <g class="all" transform="rotate(0)">
    <g class="g-figure"></g>
    <g class="g-building">
      <g [id]="key" *ngFor="let key of selectors[HousePart.other]"> </g>
    </g>

    <g class="g-roof-circle" [ngStyle]="{opacity:roofCheck(RoofStyle.roofCircle)}">
      <g [id]="key" *ngFor="let key of selectors[HousePart.roofCircle]">
      </g>
    </g>
    <g class="g-roof-70" [ngStyle]="{opacity:roofCheck(RoofStyle.roof70)}">
      <g [id]="key" *ngFor="let key of selectors[HousePart.roof70]">
      </g>
    </g>


    <!-- Helpers -->
    <!-- <g class="g-helper">
      <circle *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10]" id="roof-point-{{i}}"></circle>
      <g class="g-h-circle-roof">
        <polyline id="roof-circle__h-line"></polyline>
        <path id="roof-circle__h-circle"></path>
      </g>
      <g class="g-h-bend-point">
        <polyline id="bend-point__h-line"></polyline>
        <circle id="bend-point__h-point"></circle>
      </g>
    <circle *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]" id="debug-point-{{i}}"></circle>

    </g> -->

    <g class="cross-measure">

      <g [id]="key" *ngFor="let key of selectors[HousePart.measures]">
      </g>
    </g>

    <g id="g-distance"></g>
  </g>
</svg>


<ng-template>

</ng-template>