<div fxLayout="column" fxLayoutAlign="end" fxLayoutGap="8px" @slideInOut>



  <button-state (click)="zoomToHouse()">
    <span label> Zoom to house</span>
    <span icon>
      <mat-icon>house</mat-icon>
    </span>
  </button-state>




  <button-state (click)="olMeasureService.activate()" [disabled]="olMeasureService.active">
    <span label> {{olMeasureService.active?'Stop': 'Start'}} measuring</span>
    <span icon>
      <mat-icon style="font-family:'Material Icons Outlined';">square_foot</mat-icon>
    </span>
  </button-state>


  <!-- (click)="appService.setState(States.walkLine)" [floatLeft]=floatLeft
  *ngIf="[ Graphic.stairPlan].includes(scroll.graphic)" -->
  <button-state (click)="olBaseMapService.nextBasemap()">
    <span label> {{basemap$ | async}}</span>
    <span icon>
      <mat-icon style="font-family:'Material Icons Outlined';">map</mat-icon>
    </span>
  </button-state>



</div>