:host {
  display: flex;
  flex-direction: column;
}
main {
  min-height: calc(100vh - 56px);
}

footer {
  .mat-toolbar {
    padding: 26px 0 80px;
    font-size: 0.8rem;
    opacity: 0.8;
    font-weight: 400;
    height: initial;
  }

  z-index: 1000;
  position: relative;
}
.mat-drawer-content {
  overflow-y: hidden;
}
