<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <app-sidemenu></app-sidemenu>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>

    </main>
    <footer>
      <mat-toolbar fxLayout="column" fxLayoutAlign="center center">

        <div style="font-size:1.3em ;">Join us on our <a class="larger-link" target="_blank" href="{{discord}}"
            style="background: var(--primary-color); ">
            <fa-icon [icon]="faDiscord"></fa-icon> Discord
          </a> channel
        </div>
        <div>
          Everything is free and open source. See <a class="larger-link" target="_blank" href="{{github}}">
            <fa-icon [icon]="faGithub"></fa-icon> GitHub
          </a>
        </div>
        <div>
          PassiveOpen.com 2019 - {{year}}<br>
        </div>
        <div>
          Build by <a class="larger-link" target="_blank" href="GeoDev.nl">GeoDev</a>
        </div>

      </mat-toolbar>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>