<h1>About PassiveOpen <img src="/assets/svg/logo.svg" /></h1>


Well we didn't put a lot of effort in this part of the site yet. Maybe you can help!


<h2>
  We have an online community.
</h2>
<p>Join us on our <a class="larger-link" target="_blank" href="{{discord}}" style="background: var(--primary-color); ">
    <fa-icon [icon]="faDiscord"></fa-icon> Discord
  </a> channel. We know, its just an other tool... But it allows us to be more swift with it all. Anybody is welcome!
</p>

<h2>
  Open source
</h2>
<p>
  The plan is to share the plans. That would include any costs, calculations and plans, drawings and of course
  thoughts.<br><br>
  We share this, so you can build this optimized but charming house your self or with a contractor. For free (not the
  contractor nor materials)
  <br><br>
  We are still figuring out which 'license model' we should give this project. But don't be afraid, it won't cost you
  anything. More about credits to the people that helped this project.
</p>

<div>
  Everything is free and open source. See <a class="larger-link" target="_blank" href="{{github}}">
    <fa-icon [icon]="faGithub"></fa-icon> GitHub
  </a>
</div>


<h2>
  Ungoing credits:
</h2>

<div>
  <ul>
    <li>
      Build by <a class="larger-link" target="_blank" href="https://GeoDev.nl">GeoDev</a>
    </li>
    <li>
      All the discord users of course
    </li>


  </ul>
  Site and credits in Dutch:
  <ul>
    <li>
      <a target="_blank" href="https://www.joostdevree.nl">https://www.joostdevree.nl</a>
    </li>
    <li>
      <a target="_blank" href="https://gathering.tweakers.net/forum/list_messages/2147286">tweakers forum</a>
    </li>
  </ul>
</div>