<main>
  <h1> About PassiveOpen <img src="/assets/svg/logo.svg" class="po-logo" /></h1>



  <P>
    The PassiveOpen initiative is dedicated to promoting the use of passive houses as a sustainable building solution.
    We are passionate about the potential of passive house design to transform the way we live and work, and we are
    eager to share our knowledge and experience with others who are interested in creating a more sustainable future.
  </P>

  <section>
    <h2>
      2_Plings
    </h2>
    <p>
      This website is focused on a house that is being built by 2_plings, a couple living in Sweden who are constructing
      their home without a main contractor. They are doing most of the building work themselves.

      <br>
      <br>
      They share their story on
      <a class="larger-link" target="_blank" href="{{youtube}}" style="background: #FF0000 ">
        <fa-icon [icon]="faYoutube"></fa-icon> Youtube
      </a>
      and

      <a class="larger-link" target="_blank" href="{{instagram}}" style="background: rgb(240 0 117); ">
        <fa-icon [icon]="faInstagram"></fa-icon> Instagram
      </a>

      <img src="/assets/img/plings.jpg" class="plings-logo" />
    </p>
  </section>



  <section>
    <h2>
      We have an online community.
    </h2>
    <p>


      Looking for a place to connect with like-minded people? Join our online community on <a class="larger-link"
        target="_blank" href="{{discord}}" style="background: var(--primary-color); ">
        <fa-icon [icon]="faDiscord"></fa-icon> Discord
      </a> and become part of the conversation! We know that Discord is just another tool, but it helps us stay
      connected and respond quickly to new ideas. All are welcome!

    </p>
  </section>



  <section>

    <h2>
      Open source
    </h2>
    <p>
      Our plan is to share every aspect of this project with you: the costs, calculations, plans, drawings, and even our
      thoughts. We want to help you build an optimized and charming home, whether you choose to do it yourself or with a
      contractor. <br>Best of all, we're offering it all for free (except the cost of materials nor contractor, of
      course).

    </p>
    <br><br>

    <div>
      Everything is free and open source. See <a class="larger-link" target="_blank" href="{{github}}">
        <fa-icon [icon]="faGithub"></fa-icon> GitHub
      </a>
    </div>

    This project has a Creative Commons license. You can read about it <a rel="license"
      href="http://creativecommons.org/licenses/by-nc/4.0/">
      here</a>, but has 2 main points:
    <ul>
      <li> Attribution: We would like to be credited somehow.</li>
      <li> NonCommercial: You cannot use this project for commercial purposes.</li>
    </ul>

    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
      <img alt="Creative Commons Licence" style="border-width:0"
        src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br>


    We don't force you to 'share-alike' but we would appreciate it if you do.

    <br><br>
    <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
    <script>
      kofiWidgetOverlay.draw('passiveopen', {
        'type': 'floating-chat',
        'floating-chat.donateButton.text': 'Support Us',
        'floating-chat.donateButton.background-color': '#f45d22',
        'floating-chat.donateButton.text-color': '#fff'
      });
    </script>

  </section>

  <section>




    <h2>
      Ungoing credits:
    </h2>

    <div>
      <ul>
        <li>
          Build by <a class="larger-link" target="_blank" href="https://GeoDev.nl">GeoDev</a>
        </li>
        <li>
          All the discord users of course
        </li>


      </ul>


      Site and credits in Dutch:
      <ul>
        <li>
          <a target="_blank" href="https://www.joostdevree.nl">https://www.joostdevree.nl</a>
        </li>
        <li>
          <a target="_blank" href="https://berkela.home.xs4all.nl">https://berkela.home.xs4all.nl</a>
        </li>
        <li>
          <a target="_blank" href="https://gathering.tweakers.net/forum/list_messages/2147286">Tweakers forum</a>
        </li>
      </ul>


      Site and credits in Swedish:

      <ul>
        <li>
          <a target="_blank" href="https://www.byggahus.se/">https://www.byggahus.se/</a>
        </li>
      </ul>

    </div>

  </section>

  <section>

    <h2>
      Readings
    </h2>

    <div>
      <ul>
        <li>
          <a target="_blank" href="https://www.passivehouse.com">Passive House Institute</a>
          <br>
          Passive House Institute
        </li>
        <li>
          <a target="_blank" href="https://passiefbouwen.nl/">Passief Bouwen</a>
          <br>
          Dutch Passive House Association
        </li>
        <li>
          <a target="_blank" href="https://www.igpassivhus.se/">IG Passivhus</a>
          <br>
          Swedish Passive House Association
        </li>
        <li>
          <a target="_blank" href="https://passipedia.org/">Passipedia</a>
        </li>


      </ul>
    </div>
  </section>
</main>
<app-footer></app-footer>