<div class="page">

  <div class="container 
  tag-{{(tag$ |async) }} 
  floor-{{(floor$ |async) }} 
  section-{{(scroll$ |async).section }} 
  show-{{(scroll$ |async).graphicSide }} 
  graphic-{{(scroll$ |async).graphic }} 
  {{(popupActive$ | async)?'popup-active':''}} 
  {{(fullscreen$ | async)?'fullscreen':''}}
  {{(cssStates$ |async) }} 
  ">


    <div class="left-blinder bg"></div>
    <main>
      <div class="left-flex"></div>
      <div class="center">
        <router-outlet></router-outlet>
        <!-- <disqus [identifier]="router.url"></disqus> -->
      </div>
      <div class="right-flex"></div>
    </main>

    <div class="right-blinder bg"></div>
    <controls @slideInOut class="controls controls-left" *ngIf="graphicSide === GraphicSide.left" [floatLeft]=true>
    </controls>
    <controls @slideInOut class="controls controls-right" *ngIf="graphicSide === GraphicSide.right" [floatLeft]=false>
    </controls>

    <ng-container *ngIf="(scroll$ |async).graphic as graphic">
      <div *ngIf="graphic !== Graphic.none" class="floating floating-left">
        <app-svg-cross *ngIf="graphic === Graphic.cross" class="svg-cross"></app-svg-cross>
      </div>
      <div *ngIf="graphic !== Graphic.none" class="floating floating-right">
        <ng-container *ngIf="graphic === Graphic.scrollerHeat">
          <app-svg-scoller-heat></app-svg-scoller-heat>
        </ng-container>

        <ng-container *ngIf="graphic === Graphic.house2D">
          <app-svg-stair-plan [isChild]="true" class="svg-plan-stair-plan" fxFlex="0 0 0">
          </app-svg-stair-plan>
          <app-svg-plan class="svg-plan"></app-svg-plan>
        </ng-container>

        <ng-container *ngIf="graphic === Graphic.construction">
          <app-three-construction></app-three-construction>
        </ng-container>
        <ng-container *ngIf="graphic === Graphic.House3D">
          <app-three-house></app-three-house>
        </ng-container>
        <ng-container *ngIf="graphic === Graphic.stairPlan">
          <app-svg-stair-plan class="svg-stair-plan">
          </app-svg-stair-plan>
        </ng-container>
        <ng-container *ngIf="graphic === Graphic.stairCross">
          <app-svg-stair-cross class="svg-stair-cross">
          </app-svg-stair-cross>
        </ng-container>
      </div>
    </ng-container>

  </div>

</div>
<div class="goal-marker" [ngStyle]="{'top': goalLine*100+'vh' }">

</div>

<app-footer *ngIf="showFooter"></app-footer>