<ng-container *ngIf="(house$|async) as house">
  <section [id]="Section.stairStart" #Section.stairStart>

    <h1>Stairs</h1>
    <p>
      Stair design is a complex and important aspect of architecture, with entire Pinterest collections dedicated to it.
    </p>

  </section>
  <section [id]="Section.stairBasic">

    <h2>Stair 101</h2>
    <p>
      Calculating stairs can be approached in various ways.
    </p>
    <ol>
      <li>The <b>vertical</b> distance is already determined by the house: {{house.stair.totalRise}}m</li>
      <li>The building code allows for the rise of each step to be between
        182mm and 220mm. Therefore we can only have steps between <b>{{house.stair.minSteps}} and
          {{house.stair.maxSteps}}
          steps</b> </li>
    </ol>
    <label>
      <span>Total steps: horizontal {{house.stair.steps}}</span>
      <mat-slider [min]="house.stair.minSteps" [max]=house.stair.maxSteps [ngModel]="house.stair.steps"
        (input)="update('stair', 'steps',$event.value,Tag.amountSteps)" step="1" thumbLabel [displayWith]="sizeLabel"
        tickInterval="1">
      </mat-slider>
    </label>
    <ol start="3">
      <li>The rise is: {{round(house.stair.rise*1000, 0)}}mm</li>
      <li>The min and max <b>horizontal distance</b> is easy, the stairs should be between {{minAngle}}&deg; and
        {{maxAngle}}&deg;</li>
    </ol>

    <!-- Stairs are quite complex to calculate. There are two ways
    <ul>
      <li>start with the total horizontal distance (total run/ total flight)</li>
      <li>Amount of steps</li>
    </ul> -->
    <label>
      <span>Total length stairs: horizontal {{house.stair.totalRun}}m</span>
      <mat-slider [min]="totalRunMin" [max]=totalRunMax [ngModel]="house.stair.totalRun"
        (input)="update('stair', 'totalRun',$event.value)" step="0.1" thumbLabel [displayWith]="sizeLabel"
        tickInterval="1">
      </mat-slider>
    </label>
    <ol start="5">
      <li>The angle is: {{house.stair.angle}}&deg;</li>
      <li>A matrix is formed from the combination of the two parameters to calculate <b>the run</b>.
      </li>
    </ol>
    <table class="matrix">
      <tr>
        <th></th>
        <th></th>
        <th *ngFor="let steps of [].constructor(rangeSteps); let step = index;" [ngClass]="{ 'active' :
          house.stair.minSteps+step===house.stair.steps }">
          #{{house.stair.minSteps+step}}
        </th>
      </tr>
      <tr>
        <td></td>
        <td rowspan="50" class="vertical">&darr; Too high rise &darr;</td>
        <td colspan="50" style=" text-align: center;"> &uarr; Too steep angle &uarr; </td>
        <td rowspan="50" class="vertical">&uarr; Too low rise &uarr;</td>
      </tr>
      <tr *ngFor="let totalR of [].constructor(deltas); let dx = index;">
        <td class="step" [ngClass]="{ 'active' :
        totalRunByIndex(dx)===house.stair.totalRun}"><b>{{totalRunByIndex(dx)}}m</b></td>
        <ng-container *ngFor="let steps of [].constructor(rangeSteps); let step = index;">
          <ng-container *ngIf="getRun(step,dx) as run">
            <td class="matrix-cell matrix-{{step}}--{{dx}}" [ngClass]="score(run,getRise(step))"
              (click)="select(house.stair.minSteps+step,totalRunByIndex(dx))"
              [ngStyle]="{'background-color': scoreColor(run,getRise(step))}">
              {{run}} mm
            </td>
          </ng-container>
        </ng-container>
      </tr>
      <tr>
        <td></td>
        <td colspan="50" style=" text-align: center;"> &darr; Too shallow angle &darr; </td>
      </tr>
    </table>
    <p>
      Where <span class="too-much" style="padding:0 8px;">Red</span> is not allowed due to code.<br>
      <span class="not-comfortable" style="padding:0 8px;">Orange</span> is not comfortable to walk on.<br>
      <span style="background-color:rgba(0, 115, 0,0.6);padding:0 8px;">Green</span> should be the most
      comfortable.<br>
      Which step, is a tradeoff between the total length of the stairs and the angle. A lower angle takes less energy to
      walk up the stairs, but the stairs will be longer.

    </p>

  </section>

  <section [id]="Section.stairCheck" #Section.stairCheck>
    <h2>The good, bad and perfect stairs</h2>
    A good, comfortable stairs should follow a specific rule:<br>
    One run and two rises <div
      style="display:inline-block;background:var(--accent);color:black; height: 10px; width:18px;"><b></b></div>
    should be
    around 60cm (+/-
    3cm)
    <label>
      <span>Checks</span>
      <table>
        <tr>
          <td>Angle</td>
          <td>{{house.stair.angle}}&deg;</td>
        </tr>
        <tr>
          <td>Steps</td>
          <td>{{house.stair.steps}}</td>
        </tr>
        <tr>
          <td>Rise</td>
          <td>{{round(house.stair.rise*1000,0)}} mm</td>
        </tr>
        <tr>
          <td>Run</td>
          <td>{{round(house.stair.run*1000,0)}} mm</td>
        </tr>
        <tr>
          <td>Rise+Run+Rise</td>
          <td>{{round((house.stair.run+house.stair.rise*2)*1000,0)}} mm</td>
        </tr>
      </table>
    </label>

  </section>

  <section [id]="Section.stairPlan" #Section.stairPlan>
    <h2>Stair layout</h2>
    <p>
      Stairs can be straight, but we like to have two bends. This makes the stairs relative more compact. It prevents to
      falldown the complete stairs in accidents.
      Sideplus, it comes with a nice open hall effect.
    </p>

    <label>
      <span>Width {{house.stair.walkWidth}}m</span>
      <mat-slider [min]=0.7 [max]=1.2 [ngModel]="house.stair.walkWidth"
        (input)="update('stair', 'walkWidth',$event.value)" step="0.1" tickInterval="1">
      </mat-slider>
    </label>
    <!-- <label>
      <span>Total width of stairs: {{house.stair.totalWidth}}m </span>
      <span>{{house.stair.walkWidth*2}} {{12}}</span>
      <mat-slider [min]="house.stair.walkWidth*2" [max]=12 [ngModel]="house.stair.totalWidth"
        (input)="update('stair', 'totalWidth',$event.value)" step="0.1" tickInterval="1">
      </mat-slider>
    </label> -->
    <label>
      <span>Steps on the rightside: {{house.stair.stepsFlightLeft}} of {{house.stair.steps}}</span>
      <mat-slider [min]="0" [max]="house.stair.steps- house.stair.stepsFlightMid"
        [ngModel]="house.stair.stepsFlightLeft" (input)="update('stair', 'stepsFlightLeft',$event.value)" step="1"
        tickInterval="1">
      </mat-slider>
    </label>

    <p>
      For now we keep the model as simple as possible. Stairs are quite complex. Steps can change direction slowly to
      make it a piece of art by it self. Take a look at this drawing by Tieleman (1739 !) for inspiration.
    </p>
    <app-img-page height="800" src="assets/img/1739_Tieleman.jpg"></app-img-page>
  </section>
</ng-container>


<section>
  <h2>Read more</h2>


  <div class="app-card link-card">
    <div>
      <div>
        <a href="https://leho-howest.instructure.com/courses/7615/files/918866/download?verifier=xMYSUyM9ccEtmFNfgWEjmAHL5qb6wyWL0K4ChQxf&wrap=1"
          target="_blank">Dutch: PDF about Stairs</a>
        <br>
        How to draw and calculate stairs. With use of Sketchup and cad. Verdrijving methode in het oneindige
      </div>
    </div>
  </div>
</section>


<disqus identifier="PassiveOpen-Stairs"></disqus>