.matrix {
  border-collapse: collapse;
  .matrix-cell {
    line-height: 1em;
    white-space: pre-wrap;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background-color: var(--color-30);
    }
  }
  td,
  th {
    position: relative;
  }
}
.too-much,
.too-little {
  background-color: rgba(255, 0, 0, 0.3);
  opacity: 0.6;
}
.not-comfortable {
  background-color: rgba(255, 115, 0, 0.3);
  opacity: 0.6;
}
.active {
  &::after {
    content: " ";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    border: 2px solid var(--color-60);
  }
}
