<div #popup id="popup" class="ol-popup">
  <span *ngIf="row1$ | async as row">
    {{row }}
  </span>
  <span *ngIf="row2$ | async as row">
    {{row }}
  </span>
  <a #closer href="#" id="popup-closer" class="ol-popup-closer" (click)="close()"></a>
  <div #content id="popup-content">

    <mat-action-list>

      <button mat-list-item (click)="print(); close()">
        <mat-icon style="font-family:'Material Icons Outlined';">{{(olPrintService.active$|async)? 'print_disabled':
          'print'}}</mat-icon>
        <span>{{(olPrintService.active$|async)? 'Stop print': 'Start Print'}} </span>
      </button>

      <ng-container *ngIf="olPrintService.active$ |async">
        <button mat-list-item (click)="olPrintService.print(); close()">
          <mat-icon style="font-family:'Material Icons Outlined';">print</mat-icon>
          <span>Get PDF</span>
        </button>
      </ng-container>


      <button mat-list-item (click)="olMeasureService.activate(); close()">
        <mat-icon style="font-family:'Material Icons Outlined';">square_foot</mat-icon>
        <span>{{olMeasureService.active?'Stop': 'Start'}} measuring</span>
      </button>
      <ng-container *ngIf="olMeasureService.active">
        <button mat-list-item (click)="olMeasureService.nextType(); close()">

          <mat-icon style="font-family:'Material Icons Outlined';">square_foot</mat-icon>
          <span>Change to {{(olMeasureService.drawType === MeasuringDrawType.Area) ?
            ' length':'area'}}</span>
        </button>

        <button mat-list-item (click)="olMeasureService.activate(false); close()">

          <mat-icon style="font-family:'Material Icons Outlined';">square_foot</mat-icon>
          <span>Clear</span>
        </button>
      </ng-container>





    </mat-action-list>
    <!-- <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item *ngIf="row1$ | async as row">
        {{row }}
      </mat-list-item>
      <mat-list-item *ngIf="row2$ | async as row">
        {{row }}
      </mat-list-item>
      <mat-list-item *ngIf="row3$ | async as row">
        {{row }}
      </mat-list-item>
    </mat-list> -->

  </div>
</div>