<section [id]="Section.installationWelcome">
  <h1>Installations</h1>
</section>


<section [id]="Section.installationDrinkWater">
  <h2>Drink water</h2>
  <p>
    Not anything special here on the cold side. You can have a local source if you live on the countryside.

    <br><br>
    Hot/Warm drinkwater is needed in the sinks and showers. This water can be heated up via the central <tag
      [tag]="Tag.warmWaterBuffer"> warm water buffer</tag>. A big tank that takes heat from different sources, and
    allows
    for hot water and even heating.
  </p>
</section>

<section [id]="Section.installationHeating">
  <h2>Heating</h2>
  <p>
    This is a bit of a contra verse subject. A passive house is passive, it receives energy from the sun, people and
    machines. The heat loss is minimum. Some passive houses don't need heating at all! In some colder climates some
    heating in
    extreme winters can be needed. There is only one real option (except air heating, which is fine for a few days, but
    less healthy): floor heating. It can use low-heat
    water from the <tag [tag]="Tag.warmWaterBuffer"> warm water buffer</tag>1
  </p>
</section>

<section [id]="Section.installationElectricity">
  <h2>Electricity</h2>
  <p>
    We like the off-grid principles, but still difficult to achieve in the 2020s. However we can take away a huge part of
    the electricity needed by solar panels and store energy in form of warm water. We can use solar-heat-panels or
    heating the overflow of electricity during the day to warm up the <tag [tag]="Tag.warmWaterBuffer"> warm water
      buffer
    </tag>. Warm water can be used in the shower, or heating.
    <br><br>
    This Mansard roof is a (near) perfect angle for solar panels. However the to make it look nice is harder. We are
    still
    looking for the right panel types with old, classical roof tiles.
    <br><br>
    There is a balance between the time you need electricity (evening, electricity-car & cooking) and when they produce
    the most (around noon). If you can return-to-the-net orientation to noon is the best. Otherwise some panels could
    actually more orientated to the west.
  </p>
</section>

<section [id]="Section.installationGreyWater">
  <h2>Grey water</h2>
  <p>
    With a fancy word, climate adaption: Save rain water when it rains, like a buffer, an use it when a draught happens,
    or save on treated drinkwater. Rainwater water is perfect, because there are almost no levels of calcium. Water
    your
    plants with it, they love it! Flush the toilets with it and was your cloths with it, you ll see that you need less
    soap.
    <br><br>
    We need a big water tank outside in the ground (10m<sub>3</sub>), a pomp and 3-filter system. All the systems that
    need
    to use the rain water need also 'grey'-pipes.
    If the rainwater tank is empty, you still want the flush the toilets. There is a machine that puts normal
    drink-water
    in the 'grey'-pipes as backup. Automatically!

    <br><br>In theory showering with rainwater seems perfect, but most law forbids to bend cold-rainwater with
    warm-drinkwater. If you do, you need less soap and your hair will be smooooth.
  </p>
</section>

<section [id]="Section.installationVentilation">
  <h2>Ventilation</h2>
  <p>
    A passive house is air-tight. It saves on heat loss (more than you would think). A modern house has a blow-in and
    suck-out ventilation system. The system can take the heat out of exit-air and warm the incoming air up. Only 6% of
    the
    heat is lost. A normal ventilation is 100% heat loss. Air-tight, than I can't open my windows. <br>
    Bit of a miss conception. If the outside temperature is near the inside temperature it's completely fine. Altho with
    a
    good climate system you shouldn't feel the need to open the windows! This closed system filters the air. It is
    perfect
    when there is smog or if you have hay fever or other allergies .

    <br><br>
    Some rooms get fresh air, living room, sleeping rooms. And some rooms the air is pumped out, the wet rooms and kitchen.
    This is in balance. In the floor there is some space for this ducts. In the <tag>installation room</tag> there is a
    quite big pomp / filter.
  </p>
</section>

<section [id]="Section.installationSmartHome">
  <h2>Domotica / Smart home</h2>
  <p>
    With more complex houses, house should become more smart. The air, and maybe the heating, should be automatic. You
    shouldn't even notice it. On hot summer days, the sunscreens should come down, and with rain up. <br><br>
    There is a basic level of intelligence needed but we can take it a few steps further with automatic lights and such.
    'Smart home' creates some irritations here and there. And often completely understandable. A smart light without a
    button is annoying, sometimes you used need a button and not a voice command or smartphone. A smart home has them
    all,
    but above all knows when you want to turn on the lamp.
    <br><br>Think of (all if over rulable)
  </p>

  <ul>
    <li>Lights dim more if its evening</li>
    <li>Red nightlight in the toilet after 23:00</li>
    <li>Block the sunlight with screens</li>
    <li>Random light go on if you are on holiday</li>
    <li>Remote controllable (local VPN not via cloud)</li>
    <li>More secure, camera's and alarms</li>
  </ul>

  <br><br>
  <p>
    Wifi is great, but cables are better. If you build a new home, put some more internet cables than needed. A smart
    home
    can uses internet cables for sensors, camera and of course computers. Cat 6 cables are easy the work with and fine
    speeds for most applications (if not longer than 30m or so). Maybe put up a better cat cable for your work- or kids
    game stations.
    <br><br>
    For us this is still a process we need to rethink. For now we think one single local controller per room for a more
    decentralized system. Light switches to has a twisted-pair wire back to the room-controller. The light is on a
    hotel-switch so the button would always work as the digital version.
  </p>
</section>


<disqus identifier="PassiveOpen-installations"></disqus>