<h1>What does it costs</h1>

<p>
  This is a overview of all the prices. Some are fixed but most are dynamic calculated of the other inputs on this
  website.
  All these prices are estimations based on on certain area, with a certain deal with a construction store.
</p>

<h3>
  This page is still under construction. Not complete!!! Prices are not accurate
</h3>


<ng-container *ngFor="let d of tables$ |async">
  <ng-container *ngTemplateOutlet="simple; context: { $implicit: d}">
  </ng-container>
</ng-container>

<ng-template #simple let-data>
  <section [id]="data.section">

    <h2 (click)="data.sectionFold  = ! data.sectionFold">
      <mat-icon>{{!data.sectionFold?'expand_less':'expand_more'}}
      </mat-icon>
      {{data.alias}}

    </h2>
    <div [class.folded]="data.sectionFold">



      <span *ngIf="data.section === Section.costsFinishes">
        Nice to discover a lot of moldings:
        <a href="https://en.wikipedia.org/wiki/Molding_(decorative)">Wikipedia Moldings</a>
      </span>


      <app-table [data]="data"></app-table>


    </div>
  </section>
</ng-template>





<section [id]="Section.costsTotals" style="margin-bottom: 40px;">
  <h1>Totals</h1>
  <app-table [data]="totals$ |async"></app-table>
</section>