@import "~ol/ol.css";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: visible;
  ::ng-deep {
    .ol-attribution {
      display: none;
    }
  }
}

.map {
  height: 100%;
  width: 100%;
}
